Repository appium/appium, pull requests merged in 2022-11, with the labels that each got.

#17691 chore(renovate): attempt to fix renovate
  .renovaterc.json
Labels: chore

#17694 chore(renovate): fix renovate redux
  .renovaterc.json
Labels: chore

#17695 chore(renovate): override base branch
  .renovaterc.json
Labels: chore

#17696 chore(renovate): fix typo in group
  renovate/default.json
Labels: chore

#17697 chore(renovate): remove baseBranches
  .renovaterc.json
  renovate/default.json
Labels: chore

#17698 chore(renovate): blacklist more esm-only packages
  renovate/default.json
Labels: chore

#17710 chore(renovate): add more packages to blacklist
  renovate/default.json
Labels: chore

#17711 chore(dependencies): update json-schema-to-typescript to latest
  package-lock.json
  package.json
Labels: Dependencies

#17758 chore(ci): fix missing line in FOSSA workflow
  .github/workflows/fossa.yml
Labels: chore

#17759 chore(renovate): group appium updates & other improvements
  renovate/README.md
  renovate/default.json
Labels: chore

#17757 chore(docutils): remove jsdoc & its ilk
  package-lock.json
  packages/docutils/lib/index.js
  packages/docutils/lib/jsdoc-config-base.js
  packages/docutils/package.json
Labels: chore

#17787 chore(test): update flattened schema fixture to match actual schema
  packages/appium/lib/schema/schema.js
  packages/appium/test/e2e/cli.e2e.spec.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/appium/test/e2e/e2e-helpers.js
  packages/appium/test/e2e/plugin.e2e.spec.js
  packages/appium/test/fixtures/driver-schema.js
  packages/appium/test/fixtures/flattened-schema.js
  packages/appium/test/fixtures/plugin-schema.js
  packages/appium/test/helpers.js
  packages/schema/lib/appium-config.schema.json
Labels: chore

#17631 chore(doctor): suggest users to use the full path instead of LOCALAPPDATA on Win
  packages/doctor/lib/env.js
Labels: User Experience

#17833 chore(ci): this re-enables the "deploy" workflow
  .github/workflows/deploy.yml
Labels: chore

#17840 docs(appium): update caps example to follow Suggested capabilities
  packages/appium/docs/en/guides/caps.md
Labels: Documentation

#17842 chore(): fix lerna config for v6
  lerna.json
Labels: chore
