Repository appium/appium, pull requests merged in 2022-03, with the labels that each got.

#16485 chore: ban direct usage of sinon
  .eslintrc
  packages/appium/test/e2e/config.e2e.spec.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/test/basedriver/commands/log-specs.js
  packages/base-driver/test/basedriver/driver-tests.js
  packages/base-driver/test/basedriver/timeout-specs.js
  packages/base-driver/test/express/server-e2e-specs.js
  packages/base-driver/test/express/server-specs.js
  packages/base-driver/test/express/static-specs.js
  packages/base-driver/test/protocol/protocol-e2e-specs.js
  packages/support/test/logger/helpers.js
  packages/support/test/process-specs.js
  packages/support/test/system-specs.js
  packages/support/test/timing-specs.js
  packages/support/test/util-specs.js
Labels: v2

#16540 chore: lint the code once per build action
  .github/workflows/build.yml
  package.json
Labels: Task, v2

#16542 chore: add directory prop to repository prop of package.json
  package.json
  packages/appium/package.json
  packages/base-driver/package.json
  packages/doctor/package.json
  packages/eslint-config-appium/package.json
  packages/fake-driver/package.json
  packages/gulp-plugins/package.json
  packages/opencv/package.json
  packages/support/package.json
  packages/test-support/package.json
Labels: Task, v2

#16605 chore(fake-driver): gulp is dead, long live scripts
  packages/fake-driver/gulpfile.js
  packages/fake-driver/lib/fake-app.js
  packages/fake-driver/lib/screen.png
  packages/fake-driver/package.json
  packages/fake-driver/test/e2e/alert-tests.js
  packages/fake-driver/test/e2e/context-tests.js
  packages/fake-driver/test/e2e/driver.e2e.spec.js
  packages/fake-driver/test/e2e/element-interaction-tests.js
  packages/fake-driver/test/e2e/find-element-tests.js
  packages/fake-driver/test/e2e/general-tests.js
  packages/fake-driver/test/unit/command.spec.js
  packages/fake-driver/test/unit/driver.spec.js
Labels: Task, v2

#16643 fix(support): add missing resolve-from dependency
  packages/support/package.json
Labels: Bug, v2

#16670 fix(base-driver): Make sure we never mutate incoming args
  packages/base-driver/lib/basedriver/core.js
  packages/base-driver/lib/basedriver/driver.js
Labels: Bug, v2

#16688 chore: add a script to sync LICENSE files across packages
  .gitignore
  package.json
Labels: Task, v2

#16687 docs(types): add README.md
  packages/types/README.md
  packages/types/package.json
Labels: Documentation, v2

#16660 chore(test-support): remove gulp
  packages/test-support/gulpfile.js
  packages/test-support/package.json
  packages/test-support/test/unit/env-utils.spec.js
  packages/test-support/test/unit/fixtures/ContactManager.apk
  packages/test-support/test/unit/log-utils.spec.js
  packages/test-support/test/unit/sandbox-utils.spec.js
  packages/test-support/test/unit/time-utils.spec.js
Labels: Task, v2

#16658 chore(opencv): remove gulp
  packages/opencv/gulpfile.js
  packages/opencv/package.json
  packages/opencv/test/e2e/images/appium-diagram.jpg
  packages/opencv/test/e2e/images/cc1.png
  packages/opencv/test/e2e/images/cc2.png
  packages/opencv/test/e2e/images/cc_rotated.png
  packages/opencv/test/e2e/images/findwaldo.jpg
  packages/opencv/test/e2e/images/full-image.b64
  packages/opencv/test/e2e/images/number5.png
  packages/opencv/test/e2e/images/waldo.jpg
  packages/opencv/test/e2e/opencv.e2e.spec.js
  packages/opencv/test/unit/opencv.spec.js
Labels: Task, v2

#16659 chore(doctor): remove gulp
  packages/doctor/gulpfile.js
  packages/doctor/package.json
  packages/doctor/test/unit/android.spec.js
  packages/doctor/test/unit/demo.spec.js
  packages/doctor/test/unit/dev.spec.js
  packages/doctor/test/unit/doctor.spec.js
  packages/doctor/test/unit/factory.spec.js
  packages/doctor/test/unit/fixtures/wow.txt
  packages/doctor/test/unit/general.spec.js
  packages/doctor/test/unit/helper.js
  packages/doctor/test/unit/index.spec.js
  packages/doctor/test/unit/ios.spec.js
  packages/doctor/test/unit/node-detector.spec.js
  packages/doctor/test/unit/prompt.spec.js
  packages/doctor/test/unit/util.spec.js
Labels: Task, v2

#16692 chore(appium): switch type of inner drivers
  packages/appium/lib/appium.js
Labels: Task, v2

#16661 docs: add migration information for nodeconfig, allow-insecure and deny-insecure
  docs/en/advanced-concepts/migrating-to-appium-2.0.md
Labels: Documentation, v2
