Repository appium/appium, pull requests merged in 2022-10, with the labels that each got.

#17564 chore(): remove babel-runtime
  babel.config.json
  package-lock.json
  package.json
  packages/appium/package.json
  packages/base-driver/package.json
  packages/doctor/package.json
  packages/docutils/package.json
  packages/driver-test-support/package.json
  packages/execute-driver-plugin/package.json
  packages/fake-driver/package.json
  packages/fake-plugin/package.json
  packages/gulp-plugins/.babelrc
  packages/gulp-plugins/package.json
  packages/images-plugin/package.json
  packages/opencv/package.json
  packages/plugin-test-support/package.json
  packages/relaxed-caps-plugin/package.json
  packages/support/package.json
  packages/test-support/package.json
  packages/universal-xml-plugin/package.json
Labels: Task

#17612 fix(basedriver): ensure "opts" is defined at time of construction
  packages/base-driver/lib/basedriver/driver.js
  packages/base-driver/test/unit/basedriver/driver.spec.js
Labels: Bug

#17613 chore(): do not publish tsconfig.tsbuildinfo
  .npmignore
Labels: Task

#17622 fix(universal-xml-plugin): use @xmldom/xmldom instead of xmldom
  package-lock.json
  packages/universal-xml-plugin/lib/xpath.js
  packages/universal-xml-plugin/package.json
Labels: Security

#17418 fix(opencv,support): override jpeg-js version
  package-lock.json
  package.json
  packages/opencv/package.json
  packages/support/package.json
Labels: Bug, Dependencies

#17640 chore(base-driver,types): implement better types for custom log formats
  packages/base-driver/lib/basedriver/commands/event.js
  packages/base-driver/lib/basedriver/commands/execute.js
  packages/base-driver/lib/basedriver/commands/find.js
  packages/base-driver/lib/basedriver/commands/index.js
  packages/base-driver/lib/basedriver/commands/log.js
  packages/base-driver/lib/basedriver/commands/session.js
  packages/base-driver/lib/basedriver/commands/settings.js
  packages/base-driver/lib/basedriver/commands/timeout.js
  packages/base-driver/lib/basedriver/driver.js
  packages/types/lib/driver.ts
Labels: Task

#17645 feat: Replace old version of issues template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore

#17659 create reusable renovate config
  package-lock.json
  renovate/README.md
  renovate/default.json
Labels: Enhancement, chore

#17664 chore(github): replace bug report template with bug report form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore
