Repository appium/appium, pull requests merged in 2023-09, with the labels that each got.

#19105 feat(base-driver): Add server support of TLS and SPDY protocols
  package-lock.json
  packages/appium/docs/en/guides/tls.md
  packages/appium/lib/main.js
  packages/appium/test/unit/schema/schema.spec.js
  packages/base-driver/lib/express/server.js
  packages/base-driver/package.json
  packages/base-driver/test/e2e/express/server.e2e.spec.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, Documentation, chore, Dependencies, appium core, @appium/base-driver, @appium/types, @appium/schema

#19162 fix: Use pathToRegexp to match websocket endpoints
  package-lock.json
  packages/base-driver/lib/express/websocket.js
  packages/base-driver/package.json
Labels: Bug, Dependencies, @appium/base-driver

#19177 Fix quickstart for Appium-Python-Client 3.0.0
  packages/appium/sample-code/quickstarts/py/test.py
Labels: appium core

#19212 fix(appium): Fix creation of logging prefixes
  packages/appium/lib/logger.js
  packages/appium/lib/logsink.js
Labels: Bug, appium core

#19219 test(universal-xml-plugin): fix `getPageSource` typo
  packages/universal-xml-plugin/test/unit/plugin.spec.js
Labels: chore, @appium/universal-xml-plugin
