Repository appium/appium, pull requests merged in 2023-05, with the labels that each got.

#18589 test(images-plugin): Add tests for broken/empty template cases
  packages/images-plugin/test/unit/plugin.spec.js
Labels: chore, @appium/images-plugin

#18584 refactor(support)!: Drop jimp and pngjs in favour of sharp
  packages/support/lib/image-util.js
  packages/support/lib/mjpeg.js
  packages/support/package.json
  packages/support/test/e2e/fixture/images/cropped-image.b64
  packages/support/test/e2e/image-util.e2e.spec.js
  packages/support/test/e2e/mjpeg.e2e.spec.js
Labels: SemVer:Breaking, chore, Dependencies, @appium/support

#18580 refactor(support): #17494 Replace rimraf module with fs.rm
  package-lock.json
  packages/images-plugin/test/unit/plugin.spec.js
  packages/support/lib/fs.js
  packages/support/lib/image-util.js
  packages/support/package.json
  packages/support/test/e2e/image-util.e2e.spec.js
Labels: chore, Dependencies, @appium/support, @appium/images-plugin

#18608 docs: add notice in the changelog
  CHANGELOG.md
Labels: Documentation

#18617 fix(docutils): remove -t arg for mkdocs which prevents theme customizations
  packages/docutils/lib/builder/site.ts
Labels: Bug, Documentation, @appium/docutils

#18618 fix(typedoc-plugin-appium): don't prefix execute methods with "Script: "
  packages/typedoc-plugin-appium/lib/theme/resources/partials/execute-method.hbs
Labels: Bug, @appium/typedoc-plugin-appium

#18621 docs(appium): add helper tools section in the ecosystem doc
  packages/appium/docs/en/ecosystem/index.md
Labels: Documentation, appium core

#18629 docs: create aggregate changelog
  CHANGELOG.md
Labels: Documentation

#18635 docs(appium): fix migration doc reference to chromedriver-executable
  packages/appium/docs/en/guides/migrating-1-to-2.md
Labels: Documentation, appium core

#18636 docs(appium): add extension doc authoring guide (close #16802)
  packages/appium/docs/en/ecosystem/build-docs.md
Labels: Documentation, appium core

#18639 docs(appium): fix error in docs build script
  packages/appium/docs/scripts/build-docs.js
  packages/docutils/lib/util.ts
  packages/docutils/test/unit/util.spec.js
  packages/typedoc-plugin-appium/test/e2e/theme/__snapshots__/output.e2e.spec.ts.snap
Labels: Documentation, chore, appium core, @appium/docutils, @appium/typedoc-plugin-appium

#18630 docs: add users in GOVERNANCE.md
  GOVERNANCE.md
Labels: Documentation

#18649 fix(support): add missing @types/which
  package-lock.json
  packages/support/package.json
Labels: Bug, Dependencies, @appium/support

#18647 docs(support): Update readme
  packages/support/README.md
Labels: Documentation, @appium/support

#18652 fix(images-plugin): Add the missing dependency to support
  packages/images-plugin/lib/constants.js
Labels: Bug, @appium/images-plugin

#18648 docs(typedoc-plugin-appium): update README.md
  packages/typedoc-plugin-appium/README.md
Labels: Documentation, @appium/typedoc-plugin-appium

#18657 fix(docutils): fix broken executable
  packages/docutils/bin/appium-docs.js
Labels: Bug, Documentation, @appium/docutils

#18659 fix(base-driver): add missing @types/lodash
  package-lock.json
  packages/base-driver/package.json
Labels: Bug, Dependencies, @appium/base-driver

#18674 feat(appium): Allow to provide ipv6 addresses and handle broadcast addresses in logs
  packages/appium/lib/main.js
  packages/appium/lib/utils.js
  packages/appium/test/fixtures/flattened-schema.js
  packages/appium/test/unit/parser.spec.js
  packages/appium/test/unit/utils.spec.js
  packages/docutils/bin/appium-docs.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, Documentation, chore, appium core, @appium/docutils, @appium/types, @appium/schema

#18686 docs(appium): update build-docs.md
  packages/appium/docs/en/ecosystem/build-docs.md
Labels: Documentation, appium core

#18676 feat(docutils): init: scaffold package.json
  packages/docutils/lib/cli/check.ts
  packages/docutils/lib/cli/command/init.ts
  packages/docutils/lib/cli/index.ts
  packages/docutils/lib/init.ts
  packages/docutils/lib/scaffold.ts
Labels: Enhancement, Documentation, @appium/docutils

#18696 fix(images-plugin): Make sure the template is always a buffer
  packages/images-plugin/lib/image-element.js
  packages/images-plugin/lib/plugin.js
Labels: Bug, @appium/images-plugin

#18679 ci: Remove v14 from the test matrix and add v20
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  packages/driver-test-support/lib/e2e-suite.js
Labels: chore, @appium/driver-test-support

#18691 docs(appium): Add contributing documentation
  .vscode/extensions.json
  packages/appium/docs/en/contributing/index.md
Labels: Documentation, chore, appium core

#18690 fix(types): fix broken appium config schema types, temporarily
  packages/appium/test/fixtures/flattened-schema.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
Labels: Bug, chore, appium core, @appium/schema
