Repository appium/appium, pull requests merged in 2023-01, with the labels that each got.

#17992 chore: all pkgs consume @appium/tsconfig
  .wallaby.js
  config/tsconfig.base.json
  config/tsconfig.plugin.json
  package-lock.json
  packages/appium/package.json
  packages/appium/tsconfig.json
  packages/base-driver/package.json
  packages/base-driver/tsconfig.json
  packages/base-plugin/package.json
  packages/base-plugin/tsconfig.json
  packages/doctor/package.json
  packages/doctor/tsconfig.json
  packages/docutils/package.json
  packages/docutils/tsconfig.json
  packages/driver-test-support/package.json
  packages/driver-test-support/tsconfig.json
  packages/execute-driver-plugin/package.json
  packages/execute-driver-plugin/tsconfig.json
  packages/fake-driver/package.json
  packages/fake-driver/tsconfig.json
  packages/fake-plugin/package.json
  packages/fake-plugin/tsconfig.json
  packages/images-plugin/package.json
  packages/images-plugin/tsconfig.json
  packages/opencv/package.json
  packages/opencv/tsconfig.json
  packages/plugin-test-support/package.json
  packages/plugin-test-support/tsconfig.json
  packages/relaxed-caps-plugin/package.json
  packages/relaxed-caps-plugin/tsconfig.json
  packages/schema/package.json
  packages/schema/tsconfig.json
  packages/support/package.json
  packages/support/tsconfig.json
  packages/test-support/package.json
  packages/test-support/tsconfig.json
  packages/typedoc-plugin-appium/package.json
  packages/typedoc-plugin-appium/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/universal-xml-plugin/package.json
  packages/universal-xml-plugin/tsconfig.json
Labels: chore

#18016 fix(base-driver): add missing dependency @appium/types
  package-lock.json
  packages/base-driver/package.json
Labels: Bug

#17962 refactor: add type for driver-command,plugin-command,doctor,docutils,execute-child
  packages/appium/lib/cli/driver-command.js
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/cli/plugin-command.js
  packages/doctor/lib/android.js
  packages/doctor/lib/demo.js
  packages/doctor/lib/dev.js
  packages/doctor/lib/doctor.js
  packages/doctor/lib/factory.js
  packages/doctor/lib/general.js
  packages/doctor/lib/ios.js
  packages/doctor/lib/prompt.js
  packages/doctor/lib/utils.js
  packages/docutils/lib/mike.js
  packages/docutils/lib/mkdocs.js
  packages/execute-driver-plugin/lib/execute-child.js
  packages/execute-driver-plugin/lib/plugin.js
Labels: Documentation

#18035 fix: run "npm audit fix" because there was a warning
  package-lock.json
Labels: Security

#18038 fix(images-plugin,universal-xml-plugin,typedoc-plugin-appium): add missing lodash dependency
  package-lock.json
  packages/images-plugin/package.json
  packages/typedoc-plugin-appium/package.json
  packages/universal-xml-plugin/package.json
Labels: Bug

#18075 chore(ci): add doc build to ci
  .github/workflows/build.yml
Labels: Documentation, chore

#18092 chore(types): remove @wdio/types
  package-lock.json
  packages/types/lib/capabilities.ts
  packages/types/lib/standard-caps.ts
  packages/types/package.json
Labels: chore, Dependencies

#18091 chore(ci): add job to disallow merges of PRs
  .github/workflows/on-hold.yml
Labels: chore

#18093 chore(appium): do not attempt automatic install of extensions in dev env
  packages/appium/scripts/autoinstall-extensions.js
Labels: chore

#18101 chore(execute-driver-plugin,support,types): use named tuples
  packages/execute-driver-plugin/lib/plugin.js
  packages/support/test/mocks.js
  packages/types/lib/driver.ts
  packages/types/lib/plugin.ts
Labels: chore

#18100 chore: do not publish tsconfig.tsbuildinfo
  .npmignore
  packages/appium/package.json
  packages/base-driver/package.json
  packages/base-plugin/package.json
  packages/doctor/package.json
  packages/docutils/package.json
  packages/driver-test-support/package.json
  packages/execute-driver-plugin/package.json
  packages/fake-driver/package.json
  packages/fake-plugin/package.json
  packages/images-plugin/lib/compare.js
  packages/images-plugin/package.json
  packages/opencv/package.json
  packages/plugin-test-support/package.json
  packages/relaxed-caps-plugin/package.json
  packages/schema/package.json
  packages/support/package.json
  packages/test-support/package.json
  packages/types/package.json
  packages/universal-xml-plugin/package.json
Labels: chore

#18114 fix(typedoc-plugin-appium): use simple filenames for ExtensionReflection objects
  packages/appium/docs/mkdocs-en.yml
  packages/typedoc-plugin-appium/lib/model/reflection/extension.ts
  packages/typedoc-plugin-appium/lib/theme/index.ts
Labels: Bug, Documentation

#18127 fix(deps): update for npm audit
  package-lock.json
Labels: Dependencies
