Repository appium/appium, pull requests merged in 2023-11, with the labels that each got.

#19357 fix(appium): Sync package-lock
  package-lock.json
Labels: Bug, Dependencies

#19364 chore(appium): Bump asyncbox to v3
  package-lock.json
  packages/appium/package.json
  packages/base-driver/package.json
  packages/fake-driver/package.json
Labels: chore, Dependencies, appium core, @appium/fake-driver, @appium/base-driver

#19371 appium(docs): Add dotnet quickstart documentation
  packages/appium/docs/en/quickstart/test-dotnet.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core

#19379 chore(base-driver): remove mobileRotation as no references
  packages/base-driver/docs/mjsonwp/protocol-methods.md
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/protocol/routes.spec.js
  packages/fake-driver/lib/commands/index.ts
  packages/types/lib/driver.ts
Labels: Documentation, chore, @appium/fake-driver, @appium/base-driver, @appium/types

#19388 fix(appium): Load plugins in the same order that was used for the CLI command
  packages/appium/lib/extension/index.js
  packages/appium/test/e2e/plugin.e2e.spec.js
Labels: Bug, chore, appium core

#19403 chore: run prettier on some files
  packages/appium/lib/appium.js
  packages/appium/lib/constants.js
  packages/appium/lib/main.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/lib/protocol/errors.js
  packages/fake-driver/lib/driver.js
Labels: chore, appium core, @appium/fake-driver, @appium/base-driver

#19406 chore: Remove deprecated 'ANDROID_SDK_ROOT`
  packages/appium/docs/en/quickstart/uiauto2-driver.md
  packages/doctor/lib/android.js
  packages/doctor/test/unit/android.spec.js
Labels: Documentation, chore, appium core, @appium/doctor

#19416 ci: run CI only for master branch
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/renovate.yml
Labels: chore
