Repository appium/appium, pull requests merged in 2023-06, with the labels that each got.

#18714 fix(opencv): Do not apply additional checks to opencv objects
  packages/opencv/lib/autorelease-pool.js
Labels: Bug, @appium/opencv

#18718 chore(appium): fix arg parser test (temp fix)
  packages/appium/test/unit/parser.spec.js
Labels: chore, appium core

#18733 chore(appium): Make sharp to an optional dependency
  .github/workflows/build.yml
  packages/support/lib/image-util.js
  packages/support/package.json
Labels: chore, Dependencies, @appium/support

#18754 fix: ensure logServerAddress gets an actual URL
  packages/appium/lib/main.js
Labels: Bug, appium core

#18755 test(appium): attempt to make windows CI pass
  packages/appium/test/e2e/cli-driver.e2e.spec.js
  packages/appium/test/e2e/config-file.e2e.spec.js
Labels: chore, appium core

#18769 fix(support): Require the optional sharp dep properly from mjpeg module
  packages/support/lib/image-util.js
  packages/support/lib/mjpeg.js
Labels: Bug, @appium/support

#18751 fix(docutils): fixes some weirdness with default behavior and the "implies" keyword
  package-lock.json
  package.json
  packages/docutils/bin/appium-docs.js
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/builder/nav.ts
  packages/docutils/lib/cli/command/build.ts
  packages/docutils/lib/fs.ts
Labels: Bug, Documentation, Dependencies, @appium/docutils

#18766 ci: Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore

#18770 fix(docutils): set mike version to major.minor by default
  packages/docutils/lib/builder/deploy.ts
Labels: Bug, Documentation, @appium/docutils

#18771 chore(renovate): add get-stream to major upgrade ban list
  renovate/default.json
Labels: chore

#18809 chore(appium): Use the actual server address in the logged URL
  packages/appium/lib/main.js
  packages/appium/lib/utils.js
  packages/appium/test/unit/utils.spec.js
Labels: chore, appium core

#18804 fix: docs versioning and update latest
  packages/docutils/lib/builder/deploy.ts
Labels: Bug, Documentation, @appium/docutils

#18821 chore: run eslint --fix on ts files before commit
  .lintstagedrc.js
Labels: chore

#18829 chore(appium): Improve the error message on config load error
  packages/appium/lib/config-file.js
  packages/appium/test/e2e/config-file.e2e.spec.js
Labels: chore, appium core

#18824 fix(appium): restrict address to ipv6/hostname
  packages/appium/test/fixtures/flattened-schema.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Bug, chore, appium core, @appium/types, @appium/schema
