Repository appium/appium, pull requests merged in 2023-12, with the labels that each got.

#19484 chore(renovate,workflows): unpin GitHub Action digests
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/clean-cache.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/fossa.yml
  .github/workflows/on-hold.yml
  .github/workflows/publish-doc.yml
  .github/workflows/renovate.yml
  renovate/README.md
  renovate/default.json
Labels: Documentation, chore

#19485 fix(docutils): update dependency mike to v2.0.0
  packages/appium/docs/en/ecosystem/build-docs.md
  packages/appium/docs/scripts/build-docs.js
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/cli/command/build.ts
  packages/docutils/lib/constants.ts
  packages/docutils/lib/index.ts
  packages/docutils/lib/mike.js
  packages/docutils/requirements.txt
  packages/docutils/test/unit/mike.spec.js
  packages/docutils/test/unit/util.spec.js
Labels: Bug, Documentation, chore, Dependencies, appium core, @appium/docutils

#19493 fix(docutils): enhance base mkdocs configuration
  packages/docutils/base-mkdocs.yml
  packages/docutils/requirements.txt
Labels: Bug, Documentation, chore, Dependencies, @appium/docutils

#19495 ci: Exclude Node v16 from the matrix
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: chore

#19511 fix(appium): Apply security audit fixes to the package lock
  package-lock.json
Labels: Bug, Dependencies

#19513 refactor(support): Speed up findAppiumDependencyPackage API
  packages/appium/test/e2e/local.e2e.spec.js
  packages/support/lib/env.js
  packages/support/test/unit/env.spec.js
Labels: chore, appium core, @appium/support

#19498 chore(images-plugin,opencv): update dependency sharp to 0.33.0
  package-lock.json
  packages/images-plugin/package.json
  packages/opencv/package.json
Labels: SemVer:Breaking, chore, Dependencies, @appium/images-plugin, @appium/opencv

#19516 fix(support): Speed up packages installation
  packages/support/lib/npm.js
Labels: Bug, @appium/support

#19515 refactor(appium): Remove npm version check from preflight checks
  packages/appium/lib/config.js
  packages/appium/lib/main.js
  packages/appium/test/unit/config.spec.js
Labels: chore, appium core

#19512 feat(appium): Load drivers and plugins asynchronously
  package-lock.json
  packages/appium/docs/en/cli/args.md
  packages/appium/lib/appium.js
  packages/appium/lib/extension/driver-config.js
  packages/appium/lib/extension/extension-config.js
  packages/appium/lib/extension/index.js
  packages/appium/lib/main.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/appium/test/fixtures/default-args.js
  packages/appium/test/unit/extension/extension-config.spec.js
  packages/fake-driver/index.js
  packages/fake-driver/package.json
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, Documentation, chore, Dependencies, appium core, @appium/fake-driver, @appium/types, @appium/schema

#19518 fix(appium): Respect the value of no-perms-check server arg
  packages/appium/docs/en/cli/args.md
  packages/appium/lib/config.js
  packages/appium/lib/main.js
  packages/appium/test/unit/config.spec.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Bug, Documentation, chore, appium core, @appium/types, @appium/schema

#19527 fix(docutils): further adjust base mkdocs configuration
  packages/docutils/base-mkdocs.yml
  packages/docutils/requirements.txt
Labels: Bug, Documentation, Dependencies, @appium/docutils

#19525 chore(opencv): Enable type checking in JS files
  packages/images-plugin/lib/compare.js
  packages/opencv/lib/index.js
  packages/opencv/tsconfig.json
Labels: chore, @appium/images-plugin, @appium/opencv

#19530 chore(relaxed-caps-plugin): Enable typechecks
  packages/relaxed-caps-plugin/lib/plugin.js
  packages/relaxed-caps-plugin/test/unit/plugin.spec.js
  packages/relaxed-caps-plugin/tsconfig.json
Labels: chore, @appium/relaxed-caps-plugin

#19531 chore(doctor): Enable typechecks in JS files
  package-lock.json
  packages/doctor/lib/android.js
  packages/doctor/lib/demo.js
  packages/doctor/lib/dev.js
  packages/doctor/lib/doctor.js
  packages/doctor/lib/env.js
  packages/doctor/lib/factory.js
  packages/doctor/lib/general.js
  packages/doctor/lib/ios.js
  packages/doctor/lib/node-detector.js
  packages/doctor/lib/prompt.js
  packages/doctor/lib/utils.js
  packages/doctor/package.json
  packages/doctor/test/unit/demo.spec.js
  packages/doctor/test/unit/ios.spec.js
  packages/doctor/test/unit/prompt.spec.js
  packages/doctor/tsconfig.json
Labels: chore, Dependencies, @appium/doctor

#19534 chore: Enable JS typechecks on the rest of packages
  packages/docutils/tsconfig.json
  packages/fake-plugin/tsconfig.json
  packages/strongbox/tsconfig.json
Labels: Documentation, chore, @appium/docutils, @appium/strongbox, @appium/fake-plugin

#19543 fix(appium): Verify if script path is always under the module root
  packages/appium/lib/cli/extension-command.js
Labels: Bug, appium core

#19550 chore(docs): move Flutter driver back to Other Drivers
  packages/appium/docs/en/ecosystem/drivers.md
Labels: Documentation, chore, appium core

#19551 chore(docutils): update changelog
  packages/docutils/CHANGELOG.md
Labels: Documentation, chore, @appium/docutils

#19542 feat(appium): Make doctor extensible
  packages/appium/docs/en/cli/extensions.md
  packages/appium/docs/en/developing/build-doctor-checks.md
  packages/appium/docs/en/developing/index.md
  packages/appium/lib/cli/args.js
  packages/appium/lib/cli/driver-command.js
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/cli/parser.js
  packages/appium/lib/cli/plugin-command.js
  packages/appium/lib/constants.js
  packages/appium/lib/doctor/doctor.js
  packages/appium/test/e2e/cli-driver.e2e.spec.js
  packages/appium/types/cli.ts
  packages/fake-driver/doctor/common.js
  packages/fake-driver/doctor/fake1.js
  packages/fake-driver/doctor/fake2.js
  packages/fake-driver/package.json
  packages/types/lib/doctor.ts
  packages/types/lib/index.ts
Labels: Enhancement, Documentation, chore, Dependencies, appium core, @appium/fake-driver, @appium/types

#19539 feat(appium): Print the list of available extension scripts if no script name is provided
  .github/workflows/build.yml
  packages/appium/lib/cli/args.js
  packages/appium/lib/cli/extension-command.js
  packages/appium/test/unit/parser.spec.js
Labels: Enhancement, chore, appium core

#19561 chore(appium): Tune the error message for a non-existing extension
  packages/appium/lib/extension/index.js
Labels: chore, appium core

#19562 feat(appium,support): Add common shortcuts for doctor checks
  packages/appium/docs/en/developing/build-doctor-checks.md
  packages/appium/lib/doctor/doctor.js
  packages/fake-driver/doctor/common.js
  packages/support/lib/doctor.js
  packages/support/lib/index.ts
  packages/types/lib/doctor.ts
Labels: Enhancement, Documentation, appium core, @appium/support, @appium/fake-driver, @appium/types

#19569 chore(support): update dependency sharp to v0.33.0
  package-lock.json
  packages/support/README.md
  packages/support/package.json
Labels: Documentation, chore, Dependencies, @appium/support

#19570 chore(appium): Ditch the redundant find-up dependency
  package-lock.json
  packages/appium/lib/config.js
  packages/appium/package.json
  renovate/default.json
Labels: chore, Dependencies, appium core

#19571 appium(support): remove "--prefer-offline" to avoid possible installation error
  packages/support/lib/npm.js
Labels: @appium/support

#19575 feat: Deny install/upgrade of packages which server dep does not meet the current Appium version
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/cli/utils.js
  packages/appium/lib/config.js
  packages/appium/lib/utils.js
  packages/support/lib/npm.js
Labels: Enhancement, appium core, @appium/support

#19576 chore(appium): use ~ instead of ^ to strict versions a bit in package.json
  package-lock.json
  packages/appium/package.json
Labels: chore, Dependencies, appium core

#19577 chore(support): Deprecate AppiumLogger.errorAndThrow()
  packages/appium/lib/grid-register.js
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/basedriver/helpers.js
  packages/support/README.md
  packages/support/lib/logging.js
  packages/support/lib/node.js
  packages/support/lib/plist.js
  packages/support/lib/tempdir.js
  packages/support/lib/util.js
  packages/support/test/unit/logger/logger-force.spec.js
  packages/support/test/unit/logger/logger-normal.spec.js
  packages/support/test/unit/logger/logger-test.spec.js
  packages/types/lib/logger.ts
Labels: Documentation, chore, appium core, @appium/support, @appium/base-driver, @appium/types
