Repository appium/appium, pull requests merged in 2023-07, with the labels that each got.

#18850 docs: Update the install guide
  README.md
Labels: Documentation

#18846 docs(appium): update Appium Desktop part in migration guide
  packages/appium/docs/en/guides/migrating-1-to-2.md
Labels: Documentation, appium core

#18852 docs(appium): update JS quickstart example
  packages/appium/sample-code/quickstarts/js/package.json
  packages/appium/sample-code/quickstarts/js/test.js
Labels: Documentation, Dependencies, appium core

#18856 chore: remove roadmap document
  ROADMAP.md
Labels: Documentation, chore

#18858 docs(appium): Add notes about the server install
  README.md
Labels: Documentation

#18857 ci: add publish-doc.yml
  .github/workflows/publish-doc.yml
Labels: chore

#18874 fix(base-driver): Use proper cached headers for app download
  packages/base-driver/lib/basedriver/helpers.js
Labels: Bug, @appium/base-driver

#18876 docs(appium): Remove @next
  .github/workflows/deploy.yml
  README.md
  packages/appium/README.md
  packages/appium/docs/en/guides/migrating-1-to-2.md
  packages/appium/docs/en/quickstart/install.md
  packages/appium/docs/ja/guides/migrating-1-to-2.md
Labels: Documentation, chore, appium core

#18877 chore(appium): Improve the error message in case of invalid session capabilities
  packages/appium/lib/appium.js
  packages/appium/lib/utils.js
Labels: chore, appium core

#18903 docs: Add update command to appium server
  README.md
Labels: Documentation

#18911 docs(appium): Added correct doc path for redirecting potentially insecure features with security.md file
  packages/base-driver/lib/basedriver/core.ts
Labels: Documentation, @appium/base-driver

#18916 docs(appium): Added correct doc url path for images comparison and settings
  packages/appium/lib/utils.js
  packages/images-plugin/docs/image-comparison.md
Labels: Documentation, appium core, @appium/images-plugin

#18929 docs: Remove roadmap section
  README.md
Labels: Documentation
