Repository appium/appium, pull requests merged in 2023-08, with the labels that each got.

#18922 fix(base-driver): Tune responses caching logic
  packages/base-driver/lib/express/idempotency.js
  packages/base-driver/lib/express/server.js
Labels: Bug, @appium/base-driver

#18972 fix(appium): Update the GET /status response to be in sync with the standard
  packages/appium/lib/appium.js
  packages/appium/lib/main.js
Labels: chore, appium core

#18974 docs: small typo at bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Documentation, chore

#18985 fix(universal-xml-plugin): actually export plugin
  packages/universal-xml-plugin/index.js
  packages/universal-xml-plugin/test/unit/plugin.spec.js
Labels: Bug, chore, @appium/universal-xml-plugin

#18914 test(appium): add test to prove umbrella commands don't circumvent command timeouts
  packages/appium/test/e2e/driver.e2e.spec.js
Labels: chore, appium core

#18994 docs(appium): add environment variable docs
  packages/appium/docs/en/cli/env-vars.md
  packages/appium/docs/en/ecosystem/build-drivers.md
  packages/appium/docs/en/ecosystem/build-plugins.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core

#19002 chore(base-driver): Improve bad parameters error message
  packages/base-driver/lib/protocol/errors.js
  packages/base-driver/test/e2e/protocol/protocol.e2e.spec.js
  packages/fake-driver/test/e2e/general-tests.js
Labels: chore, @appium/fake-driver, @appium/base-driver

#19020 fix(base-driver): Fix possible NPE while cleaning up the state listener
  packages/base-driver/lib/express/idempotency.js
Labels: Bug, @appium/base-driver

#19032 fix(universal-xml-plugin): actually export plugin using correct CJS syntax
  packages/universal-xml-plugin/index.js
  packages/universal-xml-plugin/package.json
Labels: Bug, Dependencies, @appium/universal-xml-plugin

#19036 fix(docutils): use the same typescript version in docutils
  package-lock.json
  packages/docutils/package.json
Labels: Bug, Documentation, chore, Dependencies, @appium/docutils

#19043 fix(base-driver): Avoid RangeError while caching the response data
  packages/base-driver/lib/express/idempotency.js
Labels: Bug, @appium/base-driver
