Repository appium/appium, pull requests merged in 2023-03, with the labels that each got.

#18282 feat(docutils): allow "%s" as version number in commit msg arg
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/cli/command/build.ts
Labels: Enhancement, Documentation

#18283 fix(docutils): use material theme
  packages/docutils/lib/builder/site.ts
  packages/docutils/lib/constants.ts
Labels: Bug, Documentation

#18266 fix(base-driver): use new mixin strategy
  packages/base-driver/lib/basedriver/commands/event.js
  packages/base-driver/lib/basedriver/commands/event.ts
  packages/base-driver/lib/basedriver/commands/execute.js
  packages/base-driver/lib/basedriver/commands/execute.ts
  packages/base-driver/lib/basedriver/commands/find.js
  packages/base-driver/lib/basedriver/commands/find.ts
  packages/base-driver/lib/basedriver/commands/index.js
  packages/base-driver/lib/basedriver/commands/index.ts
  packages/base-driver/lib/basedriver/commands/log.js
  packages/base-driver/lib/basedriver/commands/log.ts
  packages/base-driver/lib/basedriver/commands/mixin.ts
  packages/base-driver/lib/basedriver/commands/session.js
  packages/base-driver/lib/basedriver/commands/session.ts
  packages/base-driver/lib/basedriver/commands/settings.js
  packages/base-driver/lib/basedriver/commands/settings.ts
  packages/base-driver/lib/basedriver/commands/timeout.js
  packages/base-driver/lib/basedriver/commands/timeout.ts
  packages/base-driver/lib/basedriver/driver.js
  packages/base-driver/test/unit/basedriver/commands/log.spec.js
Labels: chore

#18267 chore: add prepack script
  package.json
Labels: chore

#18309 chore: add auto-labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: chore

#18287 fix(typedoc-plugin-appium): replace void responses with 'null'
  packages/typedoc-plugin-appium/lib/converter/builtin-method-map.ts
  packages/typedoc-plugin-appium/lib/converter/exec-method-map.ts
  packages/typedoc-plugin-appium/lib/converter/external.ts
  packages/typedoc-plugin-appium/lib/converter/method-map.ts
  packages/typedoc-plugin-appium/lib/converter/overrides.ts
  packages/typedoc-plugin-appium/lib/converter/utils.ts
  packages/typedoc-plugin-appium/lib/guards.ts
  packages/typedoc-plugin-appium/lib/model/command-data.ts
  packages/typedoc-plugin-appium/test/e2e/converter/builtin-method-map.e2e.spec.ts
Labels: Bug, Documentation

#18293 fix(appium,fake-driver): expose child process when running an extension script
  packages/appium/lib/cli/driver-command.js
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/cli/plugin-command.js
  packages/appium/test/unit/extension/extension-command.spec.js
  packages/fake-driver/lib/scripts/fake-error.js
  packages/fake-driver/lib/scripts/fake-stdin.js
  packages/fake-driver/package.json
Labels: Bug, Dependencies, User Experience, appium core, @appium/fake-driver

#18319 fix(support): remove all logging from env module
  packages/support/lib/env.js
Labels: Bug, @appium/support

#18318 docs: Fix plugins link
  README.md
Labels: Documentation, appium core

#18320 chore(ci): attempt to avoid running trusted code on PRs from forks
  .github/workflows/labeler.yml
  .github/workflows/on-hold.yml
Labels: chore

#18323 chore(ci): attempt to build and preview docs
  .github/workflows/build.yml
  .github/workflows/docs.yml
  package.json
  packages/appium/docs/scripts/build-docs.js
  packages/appium/package.json
Labels: Documentation, chore, Dependencies, appium core

#18321 fix(docutils): inherit stdio in long-running processes
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/builder/site.ts
  packages/docutils/lib/util.ts
Labels: Bug, Documentation, @appium/docutils

#18389 chore(ci): suppress warnings when linting
  .github/workflows/build.yml
  package.json
Labels: chore, Dependencies

#18359 docs(appium): grammar fix
  packages/appium/docs/en/quickstart/index.md
Labels: Documentation, appium core

#18387 fix(appium): remove longjohn
  package-lock.json
  packages/appium/lib/constants.js
  packages/appium/lib/main.js
  packages/appium/package.json
Labels: Bug, Dependencies, appium core

#18416 chore: fix fossa.yml
  .fossa.yml
Labels: chore

#18426 chore(types): deprecate Element.ELEMENT
  packages/types/lib/action.ts
  packages/types/lib/driver.ts
  packages/types/lib/util.ts
Labels: chore, @appium/types
