Repository appium/appium, pull requests merged in 2023-04, with the labels that each got.

#18437 chore(appium): Add base path to the server startup log line
  packages/appium/lib/main.js
Labels: chore, appium core

#18433 fix(types): make getContext & getContexts generic
  packages/types/lib/driver.ts
Labels: Bug, @appium/types

#18434 chore: try to fix lifecycle scripts
  package.json
Labels: chore, Dependencies

#18445 fix(typedoc-plugin-appium): allow ts v5 as peer dep
  packages/typedoc-plugin-appium/package.json
Labels: Bug, Dependencies, @appium/typedoc-plugin-appium

#18446 fix(opencv): fix a type error causing typedoc problems
  packages/opencv/lib/index.js
Labels: Bug, @appium/opencv

#18452 chore(renovate): ignore major releases of pkg 'conf'
  renovate/default.json
Labels: chore

#18425 chore(ci): filter more workflows
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: chore

#18453 feat(typedoc-plugin-appium): enable comment derivation via reflection types
  packages/typedoc-plugin-appium/lib/converter/comment/finder.ts
  packages/typedoc-plugin-appium/lib/converter/comment/index.ts
  packages/typedoc-plugin-appium/lib/converter/comment/method.ts
  packages/typedoc-plugin-appium/test/unit/converter/comment.spec.ts
Labels: Enhancement, chore, @appium/typedoc-plugin-appium

#18454 chore: add a "release" script
  lerna.json
  package.json
Labels: chore

#18469 chore(ci): make docs preview job run in master only
  .github/workflows/docs.yml
Labels: chore

#18470 chore(ci): try to fix on-hold workflow
  .github/workflows/on-hold.yml
Labels: chore

#18478 chore(ci): replace label checker action
  .github/workflows/on-hold.yml
Labels: chore

#18480 feat(strongbox): export BaseItem
  packages/strongbox/lib/index.ts
  packages/strongbox/package.json
  packages/strongbox/test/types/strongbox.test-d.ts
  packages/strongbox/tsconfig.json
Labels: Enhancement, chore, Dependencies, @appium/strongbox

#18479 feat(appium): make "ls" alias of "list"
  packages/appium/lib/cli/args.js
  packages/appium/lib/cli/parser.js
  packages/appium/lib/schema/cli-args.js
  packages/appium/test/unit/parser.spec.js
Labels: Enhancement, chore, appium core

#18458 fix(docutils): properly respects log levels
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/builder/nav.ts
  packages/docutils/lib/builder/reference.ts
  packages/docutils/lib/builder/site.ts
  packages/docutils/lib/cli/check.ts
  packages/docutils/lib/cli/command/build.ts
  packages/docutils/lib/cli/command/init.ts
  packages/docutils/lib/cli/command/validate.ts
  packages/docutils/lib/cli/config.ts
  packages/docutils/lib/cli/index.ts
  packages/docutils/lib/fs.ts
  packages/docutils/lib/index.ts
  packages/docutils/lib/init.ts
  packages/docutils/lib/logger.ts
  packages/docutils/lib/scaffold.ts
  packages/docutils/lib/validate.ts
Labels: Bug, Documentation, @appium/docutils

#18497 fix(typedoc-plugin-appium): restrict peer deps
  packages/typedoc-plugin-appium/package.json
Labels: Bug, Dependencies, @appium/typedoc-plugin-appium

#18493 chore: use conventionalcommit changelog
  lerna.json
  package-lock.json
  package.json
Labels: chore, Dependencies

#18462 chore(appium): Perform better validation of appiumHome values
  packages/appium/lib/main.js
Labels: chore, appium core

#18519 fix(support): prevent s3 presigned post request failing in http upload
  packages/support/lib/net.js
Labels: Bug, @appium/support

#18524 chore(renovate): move renovate check into its own workflow
  .github/workflows/build.yml
  .github/workflows/renovate.yml
Labels: chore

#18525 blast docs PR preview
  .github/workflows/docs.yml
Labels: chore

#18523 chore(renovate): improvements to appium group
  renovate/default.json
Labels: chore

#18528 docs: just use appium.io for github page frontend
  README.md
  packages/appium/README.md
  packages/appium/docs/mkdocs-en.yml
  packages/appium/docs/mkdocs-ja.yml
  packages/appium/docs/mkdocs-zh.yml
  packages/base-plugin/README.md
Labels: Documentation, appium core, @appium/base-plugin

#18518 docs: adding nightwatch to client list in ecosystem
  packages/appium/docs/en/ecosystem/index.md
Labels: Documentation, appium core

#18546 docs(appium): fix links in languages
  packages/appium/docs/base-mkdocs.yml
Labels: Documentation, appium core

#18529 fix(docutils): do not bail when no site_dir found
  packages/docutils/lib/builder/site.ts
  packages/docutils/lib/constants.ts
Labels: Bug, Documentation, @appium/docutils

#18530 docs(appium): remove client plugin from migration guide
  packages/appium/docs/en/guides/migrating-1-to-2.md
Labels: Documentation, appium core

#18555 feat(image-plugin): Make it possible to find elements inside of other elements
  package-lock.json
  packages/images-plugin/lib/compare.js
  packages/images-plugin/lib/constants.js
  packages/images-plugin/lib/finder.js
  packages/images-plugin/lib/image-element.js
  packages/images-plugin/lib/plugin.js
  packages/images-plugin/test/e2e/plugin.e2e.spec.js
  packages/images-plugin/test/unit/finder.spec.js
  packages/images-plugin/test/unit/image-element.spec.js
  packages/images-plugin/test/unit/plugin.spec.js
  packages/opencv/lib/index.js
  packages/opencv/package.json
Labels: Enhancement, chore, Dependencies, @appium/images-plugin, @appium/opencv

#18569 fix(opencv): Make sure allocated CV objects are properly released afterwards
  packages/opencv/lib/autorelease-pool.js
  packages/opencv/lib/index.js
Labels: Bug, @appium/opencv

#18570 chore: Tune elements caching logic
  packages/images-plugin/lib/finder.js
  packages/images-plugin/lib/image-element.js
  packages/images-plugin/lib/plugin.js
  packages/images-plugin/test/unit/finder.spec.js
  packages/images-plugin/test/unit/image-element.spec.js
Labels: chore, @appium/images-plugin

#18572 refactor(images-plugin): Replace Jimp usages with Sharp
  packages/images-plugin/lib/compare.js
  packages/images-plugin/lib/finder.js
  packages/images-plugin/lib/image-element.js
  packages/images-plugin/lib/plugin.js
  packages/images-plugin/package.json
  packages/images-plugin/test/e2e/plugin.e2e.spec.js
  packages/images-plugin/test/fixtures/index.js
  packages/images-plugin/test/unit/finder.spec.js
  packages/images-plugin/test/unit/image-element.spec.js
Labels: chore, Dependencies, @appium/images-plugin

#18575 fix(base-driver): Ignore unknown script arguments
  packages/base-driver/lib/protocol/protocol.js
Labels: Bug, @appium/base-driver
