Repository appium/appium, pull requests merged in 2024-09, with the labels that each got.

#20545 docs: translate some documents into Chinese
  packages/appium/docs/zh/intro/drivers.md
  packages/appium/docs/zh/intro/history.md
Labels: Documentation, appium core, size:M

#20563 docs: about payout
  docs/payout.md
Labels: Documentation

#20579 chore(docs): update config parameter when start appium server from --config-file to --config
  packages/appium/docs/en/guides/config.md
Labels: Documentation, chore, appium core

#20580 docs: add &random=1 in SPONSORS.md to generate a unique url as temporary
  SPONSORS.md
Labels: Documentation

#20581 Revert "chore(deps): update dependency conventional-changelog-conventionalcommits to v8"
  package-lock.json
  package.json
Labels: Dependencies

#20593 docs: update contributing guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  package.json
  packages/appium/docs/base-mkdocs.yml
  packages/appium/docs/en/contributing.md
  packages/appium/docs/en/contributing/develop.md
  packages/appium/docs/en/contributing/index.md
  packages/appium/docs/en/developing/config-system.md
  packages/appium/docs/en/index.md
  packages/appium/docs/mkdocs-en.yml
  packages/appium/package.json
Labels: Documentation, chore, Dependencies, appium core

#20594 fix(execute-driver-plugin): replace vm2 with Node's built-in vm
  package-lock.json
  packages/execute-driver-plugin/lib/execute-child.js
  packages/execute-driver-plugin/package.json
Labels: Bug, chore, Dependencies, @appium/execute-driver-plugin

#20596 docs: remove AppiumConf banner
  packages/appium/docs/en/index.md
Labels: Documentation, appium core

#20603 fix(appium): Return hostname as web socket url for BiDi if a broadcast address is assigned to the server
  packages/appium/lib/appium.js
  packages/appium/lib/main.js
  packages/appium/lib/utils.js
  packages/base-driver/test/e2e/basedriver/websockets.e2e.spec.js
  packages/logger/test/unit/preprocessor-specs.js
Labels: Bug, chore, appium core, @appium/base-driver, @appium/logger

#20623 docs(appium): move sponsors into appium.io page
  README.md
  SPONSORS.md
  packages/appium/README.md
  packages/appium/docs/en/sponsors.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core
