Repository appium/appium, pull requests merged in 2024-02, with the labels that each got.

#19782 fix(fake-driver): fix dependencies
  packages/fake-driver/doctor/common.js
  packages/fake-driver/lib/commands/find.ts
  packages/fake-driver/package.json
Labels: Bug, Dependencies, @appium/fake-driver

#19802 docs: update zh Doc java application test-java.md
  packages/appium/docs/zh/quickstart/test-java.md
Labels: Documentation, appium core

#19803 docs(appium): Provide a tutorial for local PRs validations
  packages/appium/docs/en/guides/branch-testing.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core

#19805 chore(types): add type of wheel action
  packages/types/lib/action.ts
Labels: chore, @appium/types

#19810 docs: fix typo in description of defaultImageTemplateScale setting
  packages/images-plugin/docs/find-by-image.md
Labels: Documentation, @appium/images-plugin

#19811 docs: update zh Doc test-js.md
  packages/appium/docs/zh/quickstart/test-js.md
Labels: Documentation, appium core

#19817 docs: add LTS recommendation
  packages/appium/docs/en/quickstart/requirements.md
Labels: Documentation, appium core

#19825 fix(appium): make --log-filters work
  packages/appium/lib/main.js
  packages/appium/lib/schema/cli-args.js
  packages/appium/lib/schema/cli-transformers.js
  packages/appium/test/unit/schema/cli-args.spec.js
  packages/support/lib/log-internal.js
  packages/support/test/unit/log-internals.spec.js
Labels: Bug, chore, appium core, @appium/support
