Repository appium/appium, pull requests merged in 2024-11, with the labels that each got.

#20737 chore(appium): Bump the amount of max process listeners
  packages/appium/lib/main.js
Labels: chore, appium core

#20746 docs(appium): Translated the migration guide to Appium2 into Japanese
  packages/appium/docs/ja/guides/migrating-1-to-2.md
Labels: Documentation, appium core

#20750 fix(support): Init MOCK_LOG before creating static logger instance
  packages/support/lib/logging.js
Labels: Bug, @appium/support

#20747 feta(appium): Add a subcommand to reset all installed drivers and plugins
  packages/appium/docs/en/cli/setup.md
  packages/appium/lib/cli/setup-command.js
  packages/appium/lib/main.js
  packages/appium/types/cli.ts
Labels: Documentation, appium core

#20752 docs: update zh contributing documentation
  packages/appium/docs/zh/contributing/config-system.md
  packages/appium/docs/zh/contributing/develop.md
  packages/appium/docs/zh/contributing/index.md
Labels: Documentation, appium core

#20753 docs: update zh commands documentation
  packages/appium/docs/zh/commands/base-driver.md
  packages/appium/docs/zh/commands/execute-driver-plugin.md
  packages/appium/docs/zh/commands/images-plugin.md
  packages/appium/docs/zh/commands/index.md
  packages/appium/docs/zh/commands/relaxed-caps-plugin.md
  packages/appium/docs/zh/commands/universal-xml-plugin.md
Labels: Documentation, appium core

#20791 chore(driver-test-support): Remove stoppable utils
  package-lock.json
  packages/driver-test-support/lib/index.js
  packages/driver-test-support/lib/stoppable.ts
  packages/driver-test-support/package.json
  packages/driver-test-support/test/e2e/stoppable.e2e.spec.ts
Labels: chore, Dependencies, @appium/driver-test-support
