Repository appium/appium, pull requests merged in 2024-04, with the labels that each got.

#19974 chore(base-driver): Drop the obsolete es6-error import
  package-lock.json
  packages/appium/test/unit/utils.spec.js
  packages/base-driver/lib/protocol/errors.js
  packages/base-driver/package.json
Labels: chore, Dependencies, appium core, @appium/base-driver

#19977 docs: remove duplicated words in drivers.md
  packages/appium/docs/en/intro/drivers.md
Labels: Documentation, appium core

#19986 fix: do not print deprecation message for caps that is not provided
  packages/base-driver/lib/basedriver/desired-caps.js
Labels: chore, @appium/base-driver

#19996 fix(support): Enable `shell` option on Windows
  packages/support/lib/npm.js
Labels: Bug, @appium/support

#20011 docs: update zh test-py.md
  packages/appium/docs/zh/quickstart/test-py.md
Labels: Documentation, appium core

#20012 docs: update zh uiauto2-driver.md
  packages/appium/docs/zh/quickstart/uiauto2-driver.md
Labels: Documentation, appium core

#20010 fix(support): Enable shell option for all npm-related commands on Windows
  packages/support/lib/npm.js
Labels: Bug, @appium/support

#20015 feat(base-driver): Add onDownload handler to the configureApp helper
  packages/base-driver/lib/basedriver/helpers.js
  packages/types/lib/driver.ts
Labels: Enhancement, @appium/base-driver, @appium/types

#20019 chore(base-driver): Improve capability deprecation warning
  packages/base-driver/lib/basedriver/desired-caps.js
Labels: chore, @appium/base-driver

#20020 chore(support): Allow to customize `shell` option for non-windows OSs
  packages/support/lib/npm.js
Labels: chore, @appium/support

#20035 feat(base-driver): Add the original app link argument to configureApp callbacks
  packages/base-driver/lib/basedriver/helpers.js
  packages/types/lib/driver.ts
Labels: Enhancement, @appium/base-driver, @appium/types

#20037 docs(appium): add sponsorship program information
  GOVERNANCE.md
  SPONSORS.md
Labels: Documentation

#20042 feat(base-driver): Add env variables to control applications cache
  packages/appium/docs/en/cli/env-vars.md
  packages/appium/docs/en/guides/caching.md
  packages/base-driver/lib/basedriver/helpers.js
Labels: Enhancement, Documentation, appium core, @appium/base-driver

#20041 docs: update commiteers
  GOVERNANCE.md
Labels: Documentation
