Repository appium/appium, pull requests merged in 2024-12, with the labels that each got.

#20793 feat(base-driver): Allow to prefix feature names with automation names
  packages/appium/docs/en/guides/security.md
  packages/appium/lib/appium.js
  packages/appium/lib/utils.js
  packages/base-driver/lib/basedriver/core.ts
  packages/base-driver/lib/constants.ts
  packages/driver-test-support/lib/unit-suite.js
Labels: Enhancement, Documentation, appium core, @appium/base-driver, @appium/driver-test-support

#20797 fix{support}: keep backward compatibility for https://github.com/appium/appium/pull/20788
  packages/support/lib/npm.js
Labels: Bug, @appium/support

#20801 chore(support): revert #20797 as a backward compatibility
  packages/support/lib/npm.js
Labels: SemVer:Breaking, chore, @appium/support

#20805 feat: Remove @appium/doctor from the monorepo
  .fossa.yml
  .github/labeler.yml
  package-lock.json
  package.json
  packages/doctor/CHANGELOG.md
  packages/doctor/README.md
  packages/doctor/appium-doctor.js
  packages/doctor/bin/appium-doctor.js
  packages/doctor/lib/android.js
  packages/doctor/lib/demo.js
  packages/doctor/lib/dev.js
  packages/doctor/lib/doctor.js
  packages/doctor/lib/env.js
  packages/doctor/lib/factory.js
  packages/doctor/lib/general.js
  packages/doctor/lib/index.js
  packages/doctor/lib/ios.js
  packages/doctor/lib/logger.js
  packages/doctor/lib/node-detector.js
  packages/doctor/lib/prompt.js
  packages/doctor/lib/utils.js
  packages/doctor/package.json
  packages/doctor/test/unit/android.spec.js
  packages/doctor/test/unit/demo.spec.js
  packages/doctor/test/unit/dev.spec.js
  packages/doctor/test/unit/doctor.spec.js
  packages/doctor/test/unit/factory.spec.js
  packages/doctor/test/unit/fixtures/wow.txt
  packages/doctor/test/unit/general.spec.js
  packages/doctor/test/unit/helper.js
  packages/doctor/test/unit/index.spec.js
  packages/doctor/test/unit/ios.spec.js
  packages/doctor/test/unit/node-detector.spec.js
  packages/doctor/test/unit/prompt.spec.js
  packages/doctor/test/unit/util.spec.js
  packages/doctor/tsconfig.json
  renovate/default.json
  scripts/doctor-stub.mjs
  tsconfig.json
Labels: Enhancement, Documentation, chore, Dependencies, @appium/doctor

#20800 docs(appium): Enable the documentation to be translated via Crowdin
  .github/workflows/crowdin-sync-docs-translations.yml
  .github/workflows/crowdin-update-docs-resources.yml
  package.json
  packages/appium/docs/en/contributing.md
  scripts/crowdin-common.mjs
  scripts/crowdin-sync-docs-translations.mjs
  scripts/crowdin-update-docs-resources.mjs
Labels: Documentation, chore, Dependencies, appium core

#20812 docs: update aggregate changelog
  CHANGELOG.md
Labels: Documentation

#20814 docs(appium): Fix HTML formatting
  packages/appium/docs/en/index.md
  scripts/crowdin-update-docs-resources.mjs
Labels: Documentation, appium core

#20813 ci: add workflow to validate PR title
  .github/workflows/pr-title.yml
Labels: chore

#20818 chore(github): adjust newlines in bug issue form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: chore

#20817 feat(test-support): Remove obsolete helpers
  packages/test-support/README.md
  packages/test-support/lib/env-utils.js
  packages/test-support/lib/index.js
  packages/test-support/lib/log-utils.js
  packages/test-support/test/unit/env-utils.spec.js
  packages/test-support/test/unit/log-utils.spec.js
Labels: Enhancement, Documentation, chore, @appium/test-support

#20821 fix(base-driver): add * always for non-separator for backward compatibility
  packages/base-driver/lib/basedriver/core.ts
  packages/driver-test-support/lib/unit-suite.js
Labels: Bug, @appium/base-driver, @appium/driver-test-support

#20825 fix(appium): update CLI help messages
  packages/appium/lib/cli/args.js
  packages/appium/lib/cli/parser.js
Labels: Bug, chore, appium core

#20828 feat: allow drivers to define their own bidi commands
  packages/appium/docs/en/developing/build-drivers.md
  packages/appium/lib/appium.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/lib/basedriver/core.ts
  packages/fake-driver/lib/driver.js
  packages/types/lib/command.ts
  packages/types/lib/driver.ts
  packages/types/lib/plugin.ts
Labels: Enhancement, Documentation, chore, appium core, @appium/fake-driver, @appium/base-driver, @appium/types

#20824 feat(execute-driver-plugin): Bump webdriverio to v9
  package-lock.json
  packages/execute-driver-plugin/package.json
Labels: Enhancement, Dependencies, @appium/execute-driver-plugin

#20839 feat(appium): Add session.status BiDi command
  packages/appium/lib/appium.js
  packages/base-driver/lib/basedriver/commands/bidi.ts
  packages/base-driver/lib/protocol/bidi-commands.js
  packages/types/lib/driver.ts
Labels: Enhancement, appium core, @appium/base-driver, @appium/types

#20840 docs(appium): add webSocketUrl in the docs
  packages/appium/docs/en/guides/caps.md
Labels: Documentation, appium core

#20849 chore(appium): Do not log all BiDi events
  packages/appium/lib/appium.js
Labels: chore, appium core

#20852 chore(appium): Move mixin BiDi-related methods into a separate module
  packages/appium/lib/appium.js
  packages/appium/lib/bidi.ts
  packages/base-driver/lib/basedriver/core.ts
  packages/base-driver/lib/protocol/errors.js
  packages/types/lib/command.ts
  packages/types/lib/driver.ts
Labels: chore, appium core, @appium/base-driver, @appium/types

#20854 chore(appium): Tune BiDi logs
  packages/appium/lib/bidi.ts
Labels: chore, appium core

#20861 chore: adjust eslint-config-appium-ts related files
  CHANGELOG.md
  package-lock.json
  package.json
  packages/eslint-config-appium-ts/CHANGELOG.md
  packages/eslint-config-appium-ts/README.md
  packages/eslint-config-appium-ts/index.mjs
  packages/eslint-config-appium-ts/package.json
  renovate/README.md
  renovate/default.json
Labels: Documentation, chore, Dependencies, @appium/eslint-config-appium-ts

#20865 feat(fake-driver): add getWindowHandle and getWindowHandles to reduce wdio errors in CI
  packages/fake-driver/lib/driver.js
Labels: Enhancement, @appium/fake-driver

#20866 feat(appium): Update entry point resolution logic for ESM extensions
  packages/appium/lib/extension/extension-config.js
  packages/appium/test/unit/extension/extension-config.spec.js
  packages/appium/test/unit/extension/mocks.js
Labels: Enhancement, chore, appium core

#20868 test(appium): Update BiDi over SSL test
  packages/appium/test/e2e/driver.e2e.spec.js
Labels: chore, appium core
