Repository appium/appium, pull requests merged in 2024-06, with the labels that each got.

#20170 docs: add icons by opencollevtive in sponsors
  SPONSORS.md
Labels: Documentation

#20178 fix(appium): ensure ws close code is valid
  packages/appium/lib/appium.js
Labels: Bug, appium core

#20161 feat(logger): move appium-logger repo into packages/logger
  README.md
  package-lock.json
  packages/logger/CHANGELOG.md
  packages/logger/LICENSE
  packages/logger/README.md
  packages/logger/index.ts
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/logger/package.json
  packages/logger/test/unit/basic-specs.js
  packages/logger/test/unit/display-specs.js
  packages/logger/tsconfig.json
  tsconfig.json
Labels: Enhancement, Documentation, chore, Dependencies

#20190 feat(appium): Replace npmlog with the local fork
  package-lock.json
  packages/appium/lib/logsink.js
  packages/appium/package.json
  packages/doctor/lib/utils.js
  packages/logger/lib/log.ts
  packages/logger/package.json
  packages/support/lib/logging.js
  packages/support/package.json
  packages/types/lib/logger.ts
  packages/types/package.json
Labels: Enhancement, Dependencies, appium core, @appium/support, @appium/types, @appium/doctor

#20189 fix(support): Make sure response stream is defined while stopping it
  packages/support/lib/mjpeg.js
Labels: Bug, @appium/support

#20194 chore(logger): tidy up logger integration
  .github/labeler.yml
  CHANGELOG.md
  packages/logger/README.md
Labels: Documentation, chore

#20191 docs(appium): recognize headspin as development partner
  GOVERNANCE.md
  README.md
  SPONSORS.md
  packages/appium/docs/assets/images/sponsor-logo-headspin.png
  packages/appium/docs/assets/stylesheets/extra.css
  packages/appium/docs/base-mkdocs.yml
  packages/appium/docs/en/blog/posts/announcing-headspin-as-development-partner.md
  packages/appium/docs/en/index.md
  packages/appium/docs/overrides/partials/footer.html
  packages/appium/docs/overrides/partials/sponsors.html
Labels: Documentation, appium core

#20195 feat(base-driver): Make addition of search query params to cache keys optional
  packages/appium/docs/en/cli/env-vars.md
  packages/appium/docs/en/guides/caching.md
  packages/base-driver/lib/basedriver/helpers.js
Labels: Enhancement, Documentation, appium core, @appium/base-driver

#20203 feat(logger): Add the 'debug' level to the default logger
  packages/appium/lib/logsink.js
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/logger/lib/utils.ts
  packages/support/lib/logging.js
Labels: Enhancement, appium core, @appium/support, @appium/logger

#20179 fix(universal-xml-plugin): add checks to disable the plguin in webview
  .gitignore
  packages/universal-xml-plugin/lib/plugin.js
  packages/universal-xml-plugin/test/fixtures/index.js
  packages/universal-xml-plugin/test/fixtures/web-view.xml
  packages/universal-xml-plugin/test/unit/plugin.spec.js
Labels: Bug, chore, @appium/universal-xml-plugin

#20205 fix: add logger dependencies in package.json
  package-lock.json
  packages/appium/package.json
  packages/support/package.json
  packages/types/package.json
Labels: Bug, Dependencies, appium core, @appium/support, @appium/types

#20202 feat(appium): Add session signature to all logs
  package-lock.json
  packages/appium/lib/logsink.js
  packages/appium/lib/utils.js
  packages/appium/package.json
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/lib/express/server.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/test/unit/express/server.spec.js
  packages/driver-test-support/lib/unit-suite.js
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/support/lib/logging.js
Labels: Enhancement, chore, Dependencies, appium core, @appium/support, @appium/base-driver, @appium/driver-test-support, @appium/logger

#20209 Revert changes in 20203 and 20202
  package-lock.json
  packages/appium/lib/logsink.js
  packages/appium/lib/utils.js
  packages/appium/package.json
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/lib/express/server.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/test/unit/express/server.spec.js
  packages/driver-test-support/lib/unit-suite.js
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/logger/lib/utils.ts
  packages/support/lib/logging.js
Labels: chore, Dependencies, appium core, @appium/support, @appium/base-driver, @appium/driver-test-support, @appium/logger

#20217 chore(logger): update lerna to keep ISC as the license
  package.json
  packages/logger/package.json
Labels: chore, Dependencies, @appium/logger

#20219 feat(logger): Add the debug level to the default logger
  packages/appium/lib/logsink.js
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/logger/lib/utils.ts
Labels: Enhancement, appium core, @appium/logger

#20214 feat(appium): Add session signature to all logs (#20202)
  package-lock.json
  packages/appium/lib/logsink.js
  packages/appium/lib/utils.js
  packages/appium/package.json
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/lib/express/server.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/test/unit/express/server.spec.js
  packages/driver-test-support/lib/unit-suite.js
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/logger/test/unit/basic-specs.js
  packages/support/lib/logging.js
Labels: Enhancement, SemVer:Breaking, chore, Dependencies, appium core, @appium/support, @appium/base-driver, @appium/driver-test-support, @appium/logger

#20221 feat(support): remove unleakString as no usage
  packages/support/lib/util.js
  packages/support/test/unit/util.spec.js
Labels: Enhancement, SemVer:Breaking, chore, @appium/support

#20224 feat(appium): Add a possibility to print logs in json format
  package-lock.json
  packages/appium/docs/en/cli/args.md
  packages/appium/lib/logsink.js
  packages/appium/test/fixtures/default-args.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, Documentation, chore, Dependencies, appium core, @appium/types, @appium/schema

#20228 feat(support): Move SecureValuesPreprocessor to @appum/logger
  package-lock.json
  packages/appium/lib/main.js
  packages/logger/lib/log.ts
  packages/logger/lib/secure-values-preprocessor.ts
  packages/logger/lib/types.ts
  packages/logger/package.json
  packages/logger/test/unit/preprocessor-specs.js
  packages/support/README.md
  packages/support/lib/index.ts
  packages/support/lib/logging.js
Labels: Enhancement, Documentation, chore, Dependencies, appium core, @appium/support, @appium/logger

#20230 chore(support): Simplify the logic for the AppiumLogger instance retrieval
  packages/support/lib/logging.js
Labels: chore, @appium/support

#20232 docs(appium): add strategic partner browserstack
  .gitignore
  README.md
  SPONSORS.md
  packages/appium/docs/en/blog/posts/announcing-browserstack-as-strategic-partner.md
  packages/appium/docs/en/index.md
  packages/appium/docs/overrides/assets/images/appium-logo-horiz-white.png
  packages/appium/docs/overrides/assets/images/appium-logo-horiz.png
  packages/appium/docs/overrides/assets/images/appium-logo-white.png
  packages/appium/docs/overrides/assets/images/appium-logo.png
  packages/appium/docs/overrides/assets/images/sponsor-logo-browserstack-dark.png
  packages/appium/docs/overrides/assets/images/sponsor-logo-browserstack-light.png
  packages/appium/docs/overrides/assets/images/sponsor-logo-headspin.png
  packages/appium/docs/overrides/assets/stylesheets/extra.css
  packages/appium/docs/overrides/partials/sponsors.html
  packages/appium/docs/scripts/build-docs.js
  packages/appium/docs/scripts/copy-assets.js
  packages/appium/package.json
Labels: Documentation, Dependencies, appium core

#20238 docs(appium): fix color switching of BrowserStack logo in blogpost
  packages/appium/docs/en/blog/posts/announcing-browserstack-as-strategic-partner.md
Labels: Documentation, appium core

#20240 docs(appium): add sauce labs as strategic sponsor
  README.md
  SPONSORS.md
  packages/appium/docs/.gitignore
  packages/appium/docs/en/blog/posts/announcing-sauce-labs-as-strategic-partner.md
  packages/appium/docs/en/index.md
  packages/appium/docs/overrides/assets/images/sponsor-logo-sauce.png
  packages/appium/docs/overrides/assets/stylesheets/extra.css
  packages/appium/docs/overrides/partials/sponsors.html
Labels: Documentation, appium core

#20244 fix(logger): Type declaration for DEFAULT_LOG_LEVELS
  packages/logger/lib/log.ts
Labels: Bug, @appium/logger

#20246 chore(support): update changelog
  packages/support/CHANGELOG.md
Labels: Documentation, chore, @appium/support

#20247 fix(logger): use `index.d.ts` for types instead of `index.ts`
  packages/logger/package.json
Labels: Bug, Dependencies, @appium/logger

#20253 chore(appium): Tune logging for the log rules config issues
  packages/appium/lib/main.js
Labels: chore, appium core

#20250 feat(appium): Improve context logging
  packages/appium/lib/logsink.js
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/express/idempotency.js
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/lib/helpers/session.ts
  packages/logger/lib/log.ts
  packages/logger/lib/types.ts
  packages/support/lib/logging.js
  packages/types/lib/logger.ts
Labels: Enhancement, appium core, @appium/support, @appium/base-driver, @appium/types, @appium/logger

#20272 docs: fix some deprecated links of w3c and android
  packages/appium/docs/en/intro/appium.md
  packages/appium/docs/en/intro/clients.md
  packages/appium/docs/en/intro/drivers.md
Labels: Documentation, appium core

#20249 docs(appium): README logos need to be fully qualified URLs
  packages/appium/README.md
Labels: Documentation, appium core

#20276 fix(base-driver): Check if app path is relative earlier
  packages/base-driver/lib/basedriver/helpers.js
Labels: Bug, @appium/base-driver

#20282 feat(appium): show spinner during extension uninstall
  packages/appium/lib/cli/extension-command.js
Labels: Enhancement, appium core

#20284 fix(logger): Print an empty message if no arguments are provided
  packages/logger/lib/log.ts
Labels: Bug, @appium/logger

#20283 feat(appium): show extension update info message for newer major versions
  packages/appium/lib/cli/extension-command.js
Labels: Enhancement, chore, appium core

#20304 fix(support): add ? in casae it does not have updateAsyncStorage function deps
  packages/support/lib/logging.js
Labels: Bug, @appium/support
