Repository appium/appium, pull requests merged in 2024-05, with the labels that each got.

#20057 docs: remove unused files
  .wallaby.js
  run_selenium.png
Labels: chore

#20059 ci: add back Node 18
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: chore

#20065 fix(appium): Do not crash the process if there was an exception in a winston transport
  packages/appium/lib/logsink.js
Labels: Bug, appium core

#20083 chore(github): add link to Appium forum when creating an issue
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#20084 fix: Revert "chore(deps): update dependency conventional-changelog-conventionalcommits to v8"
  package-lock.json
  package.json
Labels: Bug, Dependencies

#20098 docs: add example command for driver/plugin versions
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Documentation, chore

#20100 docs: translate some documents into Chinese
  packages/appium/docs/mkdocs-zh.yml
  packages/appium/docs/zh/intro/index.md
  packages/appium/docs/zh/intro/requirements.md
Labels: Documentation, appium core

#20108 feat(appium): Add --show-debug-info CLI argument
  packages/appium/lib/cli/args.js
  packages/appium/lib/config.js
  packages/appium/lib/main.js
  packages/appium/types/cli.ts
Labels: Enhancement, appium core

#20116 docs(appium): update appium related tools section
  packages/appium/docs/en/ecosystem/tools.md
Labels: Documentation, appium core

#20102 feat(appium): prepare setup subcommand as shortcut for drivers/plugins installation
  packages/appium/lib/cli/parser.js
  packages/appium/lib/cli/setup-command.js
  packages/appium/lib/constants.js
  packages/appium/lib/main.js
  packages/appium/lib/utils.js
  packages/appium/test/unit/cli/setup-command.spec.js
  packages/appium/test/unit/parser.spec.js
  packages/appium/types/cli.ts
Labels: Enhancement, chore, appium core

#20131 docs: update CLI and quickstart contents
  packages/appium/docs/en/cli/args.md
  packages/appium/docs/en/cli/extensions.md
  packages/appium/docs/en/cli/index.md
  packages/appium/docs/en/cli/setup.md
  packages/appium/docs/en/quickstart/index.md
  packages/appium/docs/en/quickstart/install.md
  packages/appium/docs/en/quickstart/requirements.md
  packages/appium/docs/en/quickstart/uiauto2-driver.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core
