Repository appium/appium, pull requests merged in 2024-07, with the labels that each got.

#20325 feat(logger): Use LRUCache to manage log history
  package-lock.json
  packages/logger/lib/log.ts
  packages/logger/package.json
  packages/logger/test/unit/basic-specs.js
Labels: Enhancement, chore, Dependencies, @appium/logger

#20331 chore(base-driver): Optimize routeToCommandName logic
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/protocol/routes.spec.js
Labels: chore, @appium/base-driver

#20343 chore(base-driver): Improve the exception message
  packages/base-driver/lib/protocol/routes.js
Labels: chore, @appium/base-driver

#20346 chore(execute-driver-plugin): Update wdio resolution
  packages/execute-driver-plugin/lib/execute-child.js
  packages/execute-driver-plugin/tsconfig.json
Labels: chore, @appium/execute-driver-plugin

#20345 chore(base-driver): Optimize server close algorithm
  package.json
  packages/appium/package.json
  packages/base-driver/lib/express/server.js
  packages/opencv/package.json
  packages/support/package.json
Labels: chore, Dependencies, appium core, @appium/support, @appium/base-driver, @appium/opencv

#20348 chore(types): Deprecate AppiumServerSocket
  packages/types/lib/server.ts
Labels: chore, @appium/types

#20354 chore(docs): Add FlutterIntegration driver to community supported driver list
  packages/appium/docs/en/ecosystem/drivers.md
Labels: Documentation, chore, appium core

#20361 docs(appium): add more AppiumTestDistribution plugins
  packages/appium/docs/en/ecosystem/drivers.md
  packages/appium/docs/en/ecosystem/plugins.md
Labels: Documentation, appium core

#20373 chore(docs): Add AppiumConf info in website
  packages/appium/docs/en/blog/.authors.yml
  packages/appium/docs/en/blog/posts/announcing-appiumconf2024.md
  packages/appium/docs/en/index.md
Labels: Documentation, chore, appium core

#20374 chore(): define docs:publish and remove generate-docs
  package.json
Labels: chore, Dependencies

#20379 fix(base-driver): Start command timeout even if the recent command has thrown an exception
  packages/base-driver/lib/basedriver/driver.ts
Labels: Bug, @appium/base-driver

#20380 fix(base-driver): calls startNewCommandTimeout before returning NotYetImplementedError
  packages/base-driver/lib/basedriver/driver.ts
Labels: Bug, @appium/base-driver

#20391 fix(base-driver): change required to option for setWindowRect to follow w3c
  packages/base-driver/lib/protocol/routes.js
Labels: Bug, @appium/base-driver

#20392 docs: correct URL for selenium and w3c
  packages/appium/docs/en/intro/appium.md
Labels: Documentation, appium core

#20393 chore(appium): Remove debug logging from the Manifest class
  packages/appium/lib/extension/manifest.js
Labels: chore, appium core

#20404 docs: translate some documents into Chinese
  packages/appium/docs/mkdocs-zh.yml
  packages/appium/docs/zh/blog/.authors.yml
  packages/appium/docs/zh/blog/index.md
  packages/appium/docs/zh/blog/posts/announcing-appiumconf2024.md
  packages/appium/docs/zh/blog/posts/announcing-browserstack-as-strategic-partner.md
  packages/appium/docs/zh/blog/posts/announcing-headspin-as-development-partner.md
  packages/appium/docs/zh/blog/posts/announcing-sauce-labs-as-strategic-partner.md
  packages/appium/docs/zh/blog/posts/announcing-sponsorship-program.md
  packages/appium/docs/zh/blog/posts/hello-world.md
  packages/appium/docs/zh/cli/args.md
  packages/appium/docs/zh/cli/env-vars.md
  packages/appium/docs/zh/cli/extensions.md
  packages/appium/docs/zh/cli/index.md
  packages/appium/docs/zh/cli/setup.md
  packages/appium/docs/zh/commands/base-driver.md
  packages/appium/docs/zh/commands/execute-driver-plugin.md
  packages/appium/docs/zh/commands/images-plugin.md
  packages/appium/docs/zh/commands/index.md
  packages/appium/docs/zh/commands/relaxed-caps-plugin.md
  packages/appium/docs/zh/commands/universal-xml-plugin.md
  packages/appium/docs/zh/contributing/config-system.md
  packages/appium/docs/zh/contributing/develop.md
  packages/appium/docs/zh/contributing/index.md
  packages/appium/docs/zh/developing/build-docs.md
  packages/appium/docs/zh/developing/build-doctor-checks.md
  packages/appium/docs/zh/developing/build-drivers.md
  packages/appium/docs/zh/developing/build-plugins.md
  packages/appium/docs/zh/developing/index.md
  packages/appium/docs/zh/ecosystem/build-docs.md
  packages/appium/docs/zh/ecosystem/build-plugins.md
  packages/appium/docs/zh/ecosystem/clients.md
  packages/appium/docs/zh/ecosystem/drivers.md
  packages/appium/docs/zh/ecosystem/index.md
  packages/appium/docs/zh/ecosystem/plugins.md
  packages/appium/docs/zh/ecosystem/tools.md
  packages/appium/docs/zh/guides/branch-testing.md
  packages/appium/docs/zh/guides/caching.md
  packages/appium/docs/zh/guides/caps.md
  packages/appium/docs/zh/guides/config.md
  packages/appium/docs/zh/guides/context.md
  packages/appium/docs/zh/guides/event-timing.md
  packages/appium/docs/zh/guides/execute-methods.md
  packages/appium/docs/zh/guides/execute-script-overload.md
  packages/appium/docs/zh/guides/grid.md
  packages/appium/docs/zh/guides/log-filters.md
  packages/appium/docs/zh/guides/managing-exts.md
  packages/appium/docs/zh/guides/migrating-1-to-2.md
  packages/appium/docs/zh/guides/security.md
  packages/appium/docs/zh/guides/settings.md
  packages/appium/docs/zh/guides/tls.md
  packages/appium/docs/zh/index.md
  packages/appium/docs/zh/intro/appium.md
  packages/appium/docs/zh/intro/index.md
  packages/appium/docs/zh/quickstart/requirements.md
  packages/appium/docs/zh/quickstart/test-dotnet.md
  packages/appium/docs/zh/quickstart/test-rb.md
Labels: Documentation, appium core

#20424 fix(support): Print an empty string if no arguments are provided to a logging function
  packages/logger/lib/log.ts
  packages/support/lib/logging.js
Labels: Bug, @appium/support, @appium/logger
