Repository appium/appium, pull requests merged in 2024-08, with the labels that each got.

#20434 chore(appium): Replace fancy-log dependency with appium logger
  package-lock.json
  package.json
  packages/appium/package.json
  packages/appium/scripts/parse-yml-commands.js
Labels: chore, Dependencies, appium core

#20439 docs: translate some documents into Chinese
  packages/appium/docs/zh/intro/appium.md
  packages/appium/docs/zh/intro/drivers.md
Labels: Documentation, appium core

#20447 chore(base-driver): Print a log message if a command gets added into non-empty async lock waiting queue
  packages/base-driver/lib/basedriver/driver.ts
Labels: chore, @appium/base-driver

#20449 fix(base-driver): Add a server flag to check if it operates a secure protocol
  packages/appium/lib/main.js
  packages/base-driver/lib/express/server.js
  packages/types/lib/server.ts
Labels: Bug, appium core, @appium/base-driver, @appium/types

#20455 fix(renovate): adjust config for Renovate v38
  .renovaterc.json
  renovate/README.md
  renovate/default.json
Labels: Bug, Documentation

#20506 chore(base-driver): Only print axios messages instead of full stacktraces
  packages/base-driver/lib/jsonwp-proxy/proxy.js
Labels: chore, @appium/base-driver

#20507 Update index.md
  packages/appium/docs/en/index.md
Labels: Documentation, appium core
