Repository appium/appium, pull requests merged in 2024-01, with the labels that each got.

#19595 docs: update READMEs
  README.md
  packages/base-driver/README.md
  packages/base-plugin/README.md
  packages/doctor/README.md
  packages/docutils/README.md
  packages/eslint-config-appium-ts/README.md
  packages/eslint-config-appium/README.md
  packages/execute-driver-plugin/README.md
  packages/fake-driver/README.md
  packages/fake-plugin/README.md
  packages/images-plugin/README.md
  packages/opencv/README.md
  packages/relaxed-caps-plugin/README.md
  packages/support/README.md
  packages/test-support/README.md
  packages/universal-xml-plugin/README.md
Labels: Documentation, chore, @appium/execute-driver-plugin, @appium/support, @appium/universal-xml-plugin, @appium/docutils, @appium/fake-driver, @appium/base-driver, @appium/images-plugin, @appium/test-support, @appium/eslint-config-appium, @appium/base-plugin, @appium/opencv, @appium/doctor, @appium/fake-plugin, @appium/relaxed-caps-plugin, @appium/eslint-config-appium-ts

#19602 fix(support): Appium version comparison
  packages/support/lib/env.js
Labels: Bug, @appium/support

#19607 fix(appium): Properly handle version check for aliases
  packages/appium/lib/cli/extension-command.js
Labels: Bug, appium core

#19610 fix(support): Prefer semver.minVersion to semver.coerce API
  packages/support/lib/env.js
Labels: Bug, @appium/support

#19612 fix(appium): Tune warning messages about installed extensions
  packages/appium/lib/extension/extension-config.js
  packages/appium/test/unit/extension/extension-config.spec.js
Labels: Bug, chore, appium core

#19608 fix(docs): fix incorrect filetype in Ruby quickstart example
  packages/appium/docs/en/quickstart/test-rb.md
Labels: Bug, Documentation, appium core

#19613 docs(appium): add links to the sample repository urls
  packages/appium/docs/en/quickstart/test-js.md
  packages/appium/docs/en/quickstart/test-py.md
  packages/appium/docs/en/quickstart/test-rb.md
Labels: Documentation, appium core

#19617 feat(appium): Set a proper exit code if any of required doctor checks fails
  packages/appium/lib/cli/driver-command.js
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/cli/plugin-command.js
  packages/appium/lib/doctor/doctor.js
  packages/appium/test/e2e/cli-driver.e2e.spec.js
  packages/fake-driver/doctor/common.js
Labels: Enhancement, chore, appium core, @appium/fake-driver

#19621 docs(doctor): Add deprecation notice
  packages/doctor/README.md
  packages/doctor/lib/doctor.js
Labels: Documentation, @appium/doctor

#19622 docs: Update warning section in the doctor/README.md
  packages/doctor/README.md
Labels: Documentation, @appium/doctor

#19626 docs: add Note Alert for docutils README.md
  packages/docutils/README.md
Labels: Documentation, @appium/docutils

#19628 docs: Update types/README.md with Alerts
  packages/types/README.md
Labels: Documentation, @appium/types

#19627 chore: Grammar fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#19660 docs: Add update command in install.md and update version
  packages/appium/docs/en/quickstart/install.md
Labels: Documentation, appium core

#19675 docs: update zh Doc Introduction index.md
  packages/appium/docs/zh/index.md
Labels: Documentation, appium core

#19681 fix(docutils): change default alias type to `symlink`
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/constants.ts
Labels: Bug, Documentation, @appium/docutils

#19687 docs: Update zh resources.md
  packages/appium/docs/zh/resources.md
Labels: Documentation, appium core

#19688 docs: Update zh index.md
  packages/appium/docs/zh/quickstart/index.md
Labels: Documentation, appium core

#19689 docs: Update zh install.md
  packages/appium/docs/zh/quickstart/install.md
Labels: Documentation, appium core

#19701 docs: Update zh next-steps.md
  packages/appium/docs/zh/quickstart/next-steps.md
Labels: Documentation, appium core

#19702 docs: add Rust client
  packages/appium/docs/en/ecosystem/clients.md
Labels: Documentation, appium core

#19655 chore(docutils): update consola to 3.2.3
  package-lock.json
  packages/docutils/lib/cli/config.ts
  packages/docutils/lib/constants.ts
  packages/docutils/lib/logger.ts
  packages/docutils/package.json
Labels: Documentation, chore, Dependencies, @appium/docutils

#19724 chore: Remove commitlint and husky
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
Labels: chore, Dependencies
