Repository appium/appium, pull requests merged in 2024-10, with the labels that each got.

#20635 docs(appium): Remove HS from development sponsor for now
  README.md
  packages/appium/README.md
  packages/appium/docs/en/index.md
  packages/appium/docs/en/sponsors.md
  packages/appium/docs/overrides/assets/images/sponsor-logo-headspin.png
  packages/appium/docs/overrides/partials/sponsors.html
  packages/appium/docs/zh/index.md
Labels: Documentation, appium core

#20630 docs(appium): add axe DevTools for Mobile drivers to Appium other drivers list: Supports accessibility testing for mobile apps
  packages/appium/docs/en/ecosystem/drivers.md
Labels: Documentation, appium core

#20641 feat(appium): Make server graceful shutdown timeout configurable via command line args
  packages/appium/test/fixtures/default-args.js
  packages/base-driver/lib/express/server.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, chore, appium core, @appium/base-driver, @appium/types, @appium/schema

#20666 fix(docutils): support Python 3.12+
  .github/workflows/docs.yml
  .github/workflows/publish-doc.yml
  packages/appium/docs/zh/contributing/develop.md
  packages/docutils/lib/init.ts
Labels: Bug, Documentation, chore, appium core, @appium/docutils

#20658 docs: update zh ecosystem documentation
  packages/appium/docs/zh/ecosystem/clients.md
  packages/appium/docs/zh/ecosystem/drivers.md
  packages/appium/docs/zh/ecosystem/index.md
  packages/appium/docs/zh/ecosystem/plugins.md
  packages/appium/docs/zh/ecosystem/tools.md
Labels: Documentation, appium core

#20667 docs: fix links in Appium history document
  packages/appium/docs/en/intro/history.md
  packages/appium/docs/zh/intro/history.md
Labels: Documentation, appium core

#20668 docs(appium): turn sponsors list into full list
  packages/appium/docs/en/sponsors.md
  packages/appium/docs/overrides/assets/images/sponsor-logo-route4me.png
Labels: Bug, Documentation, appium core

#20672 chore(base-driver): Export the WebDriverProxy alias
  packages/base-driver/lib/index.js
Labels: chore, @appium/base-driver

#20675 fix(docutils): restore support for Python <3.12
  .github/workflows/docs.yml
  .github/workflows/publish-doc.yml
  packages/appium/docs/zh/contributing/develop.md
  packages/docutils/lib/constants.ts
  packages/docutils/lib/init.ts
Labels: Bug, Documentation, chore, appium core, @appium/docutils

#20681 docs: fix Android Studio SDK menu path
  packages/appium/docs/en/quickstart/uiauto2-driver.md
  packages/appium/docs/zh/quickstart/uiauto2-driver.md
Labels: Documentation, appium core

#20697 docs: update zh cli documentation
  packages/appium/docs/en/cli/env-vars.md
  packages/appium/docs/en/guides/branch-testing.md
  packages/appium/docs/mkdocs-zh.yml
  packages/appium/docs/zh/cli/args.md
  packages/appium/docs/zh/cli/env-vars.md
  packages/appium/docs/zh/cli/extensions.md
  packages/appium/docs/zh/cli/index.md
  packages/appium/docs/zh/cli/setup.md
  packages/appium/docs/zh/guides/branch-testing.md
  packages/appium/docs/zh/index.md
Labels: Documentation, appium core

#20696 ci: Only run FOSSA checks on the main repo
  .github/workflows/fossa.yml
  scripts/install-fossa.sh
Labels: chore

#20700 ci: Tune license checks on fork repositories
  .github/workflows/fossa.yml
Labels: chore

#20704 docs(appium): fix plugin building docs info re proxying
  packages/appium/docs/en/developing/build-plugins.md
Labels: Documentation, appium core
