Repository appium/appium, pull requests merged in 2025-08, with the labels that each got.

#21454 feat(support): Drop the usage of the obsolete "mv" package
  package-lock.json
  packages/support/lib/fs.js
  packages/support/package.json
  packages/support/test/e2e/fs.e2e.spec.js
Labels: Enhancement, chore, Dependencies, @appium/support

#21458 chore: change bidi log to debug level
  packages/appium/lib/bidi-commands.ts
Labels: chore, appium core

#21416 fix(base-driver,types): For extension commands that use prefix "mobile", ensure …
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/helpers/extension-command-name.ts
  packages/base-driver/test/e2e/basedriver/logevents.e2e.spec.js
  packages/base-driver/test/e2e/protocol/mock-execute-driver.js
  packages/types/lib/driver.ts
Labels: Bug, chore, @appium/base-driver, @appium/types

#21468 chore(appium): do not send message for the close in BiDi
  packages/appium/lib/bidi-commands.ts
Labels: chore, appium core

#21472 docs: add Appium3 announcement blog
  packages/appium/docs/en/blog/posts/appium3.md
  packages/appium/docs/en/guides/migrating-2-to-3.md
Labels: Documentation, appium core

#21494 chore(docutils): set dependency diff to v8.0.2
  package-lock.json
  packages/docutils/package.json
Labels: Documentation, chore, Dependencies, @appium/docutils

#21496 docs: update conflict CTAs
  README.md
Labels: Documentation

#21499 docs: add links to AppiumConf archives
  packages/appium/docs/en/resources.md
Labels: Documentation, appium core

#21524 feat(docutils): enable section index pages
  packages/docutils/base-mkdocs.yml
Labels: Enhancement, Documentation, @appium/docutils

#21530 docs(appium): merge CLI and Command sections into Reference section
  packages/appium/docs/base-mkdocs.yml
  packages/appium/docs/en/commands/index.md
  packages/appium/docs/en/ecosystem/tools.md
  packages/appium/docs/en/guides/caching.md
  packages/appium/docs/en/guides/event-timing.md
  packages/appium/docs/en/guides/managing-exts.md
  packages/appium/docs/en/guides/migrating-1-to-2.md
  packages/appium/docs/en/guides/security.md
  packages/appium/docs/en/index.md
  packages/appium/docs/en/intro/appium.md
  packages/appium/docs/en/quickstart/install.md
  packages/appium/docs/en/quickstart/requirements.md
  packages/appium/docs/en/quickstart/uiauto2-driver.md
  packages/appium/docs/en/reference/api/base-driver.md
  packages/appium/docs/en/reference/api/execute-driver-plugin.md
  packages/appium/docs/en/reference/api/images-plugin.md
  packages/appium/docs/en/reference/api/index.md
  packages/appium/docs/en/reference/api/relaxed-caps-plugin.md
  packages/appium/docs/en/reference/api/storage-plugin.md
  packages/appium/docs/en/reference/api/universal-xml-plugin.md
  packages/appium/docs/en/reference/cli/args.md
  packages/appium/docs/en/reference/cli/env-vars.md
  packages/appium/docs/en/reference/cli/extensions.md
  packages/appium/docs/en/reference/cli/index.md
  packages/appium/docs/en/reference/cli/setup.md
  packages/appium/docs/en/reference/index.md
  packages/appium/docs/mkdocs-en.yml
  packages/images-plugin/docs/find-by-image.md
  packages/storage-plugin/README.md
Labels: Documentation, appium core, @appium/images-plugin, @appium/storage-plugin

#21535 docs(appium): enhance CLI pages
  README.md
  packages/appium/README.md
  packages/appium/docs/base-mkdocs.yml
  packages/appium/docs/en/guides/migrating-1-to-2.md
  packages/appium/docs/en/guides/security.md
  packages/appium/docs/en/reference/cli/args.md
  packages/appium/docs/en/reference/cli/env-vars.md
  packages/appium/docs/en/reference/cli/extensions.md
  packages/appium/docs/en/reference/cli/index.md
  packages/appium/docs/en/reference/cli/server.md
  packages/appium/docs/en/reference/cli/setup.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core
