Repository appium/appium, pull requests merged in 2025-02, with the labels that each got.

#20947 chore: use RegExp to check session id requirement
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
Labels: chore, @appium/base-driver

#20952 chore: move or remove some main dependencies
  package-lock.json
  package.json
  packages/appium/package.json
  packages/base-driver/package.json
  packages/docutils/package.json
  packages/driver-test-support/package.json
  packages/execute-driver-plugin/package.json
  packages/fake-driver/package.json
  packages/fake-plugin/package.json
  packages/opencv/package.json
  packages/schema/package.json
  packages/support/package.json
  packages/types/package.json
  packages/universal-xml-plugin/package.json
Labels: Documentation, chore, Dependencies, appium core, @appium/execute-driver-plugin, @appium/support, @appium/universal-xml-plugin, @appium/docutils, @appium/fake-driver, @appium/base-driver, @appium/driver-test-support, @appium/types, @appium/opencv, @appium/fake-plugin, @appium/schema

#20953 fix(appium): Wait for upstream web socket to open before sending data to it
  packages/appium/lib/bidi-commands.ts
Labels: Bug, appium core

#20956 feat(base-driver): Print the closest match if the given script did not match
  package-lock.json
  packages/base-driver/lib/basedriver/commands/execute.ts
  packages/base-driver/package.json
Labels: Enhancement, Dependencies, @appium/base-driver

#20974 fix(appium): add await for async function
  packages/appium/lib/appium.js
Labels: Bug, appium core

#20981 fix(appium): handle getAppiumSessions as non session id commands
  packages/base-driver/lib/protocol/routes.js
Labels: chore, @appium/base-driver

#20983 chore(renovate): add @types/supports-color to blocklist
  renovate/default.json
Labels: chore

#20984 docs(appium): use event endpoint to get event timing
  packages/appium/docs/en/guides/event-timing.md
Labels: Documentation, appium core

#20979 chore(appium): returns this.caps for /session/:sessionId/appium/capabilities
  packages/appium/docs/en/commands/base-driver.md
  packages/appium/lib/appium.js
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/lib/protocol/index.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/test/e2e/basedriver/driver.e2e.spec.js
  packages/types/lib/driver.ts
Labels: Documentation, chore, appium core, @appium/base-driver, @appium/types

#21003 feat(appium): Add a command line parameter to configure HTTP server request timeout
  packages/appium/docs/en/cli/args.md
  packages/appium/lib/main.js
  packages/appium/test/fixtures/default-args.js
  packages/base-driver/lib/express/server.js
  packages/schema/lib/appium-config-schema.js
  packages/schema/lib/appium-config.schema.json
  packages/types/lib/appium-config.ts
Labels: Enhancement, Documentation, chore, appium core, @appium/base-driver, @appium/types, @appium/schema

#21008 chore: remove sauce labs as project sponsor
  README.md
  packages/appium/README.md
  packages/appium/docs/en/index.md
  packages/appium/docs/en/sponsors.md
Labels: Documentation, chore, appium core

#21011 chore(schema,tsconfig,universal-xml-plugin): fix repository field in package.json
  packages/schema/package.json
  packages/tsconfig/package.json
  packages/universal-xml-plugin/package.json
Labels: chore, Dependencies, @appium/universal-xml-plugin, @appium/tsconfig, @appium/schema

#21014 fix(renovate): use chore prefix for all PRs
  renovate/README.md
  renovate/default.json
Labels: Bug, Documentation

#21018 fix(base-driver): Optimize the logic of getUrlForProxy
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
  packages/base-driver/test/unit/jsonwp-proxy/url.spec.js
Labels: Bug, chore, @appium/base-driver

#21021 fix(base-driver): Restore the legacy proxy url behaviour
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
Labels: Bug, chore, @appium/base-driver

#21019 chore(docs): remove sauce labs from docs footer
  packages/appium/docs/overrides/partials/sponsors.html
Labels: Documentation, chore, appium core

#21029 chore(base-driver): Refactor command name detection in JWProxy
  packages/base-driver/lib/jsonwp-proxy/protocol-converter.js
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
  packages/types/lib/http.ts
Labels: chore, @appium/base-driver, @appium/types

#21034 chore(base-driver): Add types to proxy options
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/types/lib/http.ts
Labels: chore, @appium/base-driver, @appium/types

#21035 chore(base-driver): Implement proper requests cancellation
  packages/base-driver/lib/jsonwp-proxy/proxy-request.ts
  packages/base-driver/lib/jsonwp-proxy/proxy.js
Labels: chore, @appium/base-driver

#21044 fix(base-driver): Tune capabilities array parsing
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/test/unit/basedriver/helpers.spec.js
Labels: Bug, chore, @appium/base-driver

#21045 fix(base-driver): Update parseCapsArray function types
  packages/base-driver/lib/basedriver/helpers.js
Labels: Bug, @appium/base-driver
