Repository appium/appium, pull requests merged in 2025-09, with the labels that each got.

#21542 docs(appium): use Apps instead of Battery
  packages/appium/docs/en/quickstart/test-dotnet.md
  packages/appium/docs/en/quickstart/test-js.md
  packages/appium/docs/en/quickstart/test-py.md
  packages/appium/docs/en/quickstart/test-rb.md
  packages/appium/sample-code/quickstarts/js/test.js
  packages/appium/sample-code/quickstarts/py/test.py
  packages/appium/sample-code/quickstarts/rb/test.rb
Labels: Documentation, appium core

#21551 fix(base-driver): fix /computedrole and /computedlabel routes
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/protocol/routes.spec.js
Labels: Bug, chore, @appium/base-driver

#21552 docs: add missing WebDriver standard API endpoints
  packages/appium/docs/en/reference/api/webdriver.md
Labels: Documentation, appium core

#21557 docs: add missing supported BiDi commands
  packages/appium/docs/en/reference/api/bidi.md
  packages/appium/docs/en/reference/api/index.md
  packages/appium/docs/en/reference/api/plugins.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core

#21558 docs: add missing supported Appium commands
  packages/appium/docs/en/reference/api/appium.md
Labels: Documentation, appium core

#21585 chore: fix typos
  packages/appium/test/e2e/e2e-helpers.js
  packages/appium/test/fixtures/schema-with-extensions.js
  packages/appium/test/unit/extension/manifest.spec.js
  packages/base-driver/docs/mjsonwp/protocol-methods.md
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/lib/helpers/capabilities.js
  packages/images-plugin/lib/finder.js
  packages/logger/test/unit/basic-specs.js
  packages/storage-plugin/test/unit/storage.spec.cjs
  packages/support/lib/plist.js
Labels: Documentation, chore, appium core, @appium/support, @appium/base-driver, @appium/images-plugin, @appium/logger, @appium/storage-plugin

#21611 fix(appium): base path handling in bidi
  packages/appium/lib/main.js
  packages/appium/test/e2e/driver.e2e.spec.js
Labels: Bug, chore, appium core
