Repository appium/appium, pull requests merged in 2025-06, with the labels that each got.

#21336 chore(base-driver): Update dependency body-parser to v2
  package-lock.json
  packages/base-driver/package.json
Labels: chore, Dependencies, @appium/base-driver

#21344 docs: add minor Appium 3-related adjustments & fix MkDocs warnings
  packages/appium/docs/en/commands/base-driver.md
  packages/appium/docs/en/developing/build-plugins.md
  packages/appium/docs/en/developing/config-system.md
  packages/appium/docs/en/guides/event-timing.md
  packages/appium/docs/en/quickstart/requirements.md
Labels: Documentation, appium core

#21349 refactor: use an object spread instead of Object.assign
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/lib/jsonwp-proxy/protocol-converter.js
  packages/images-plugin/lib/finder.js
  packages/images-plugin/lib/image-element.js
Labels: chore, appium core, @appium/base-driver, @appium/images-plugin

#21353 refactor: change if in else to else if
  packages/appium/lib/extension/driver-config.js
  packages/appium/lib/extension/extension-config.js
  packages/appium/lib/extension/manifest.js
  packages/opencv/lib/index.js
Labels: appium core, @appium/opencv

#21389 fix(appium): Add appium module symlink while installing extensions
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/utils.js
Labels: Bug, appium core

#21395 chore(deps): bump brace-expansion to fix vulnerability
  package-lock.json
Labels: chore, Dependencies

#21394 chore!: set minimum Node.js version to v20.19.0
  package-lock.json
  packages/appium/package.json
  packages/base-driver/package.json
  packages/base-plugin/package.json
  packages/docutils/package.json
  packages/driver-test-support/package.json
  packages/eslint-config-appium-ts/package.json
  packages/execute-driver-plugin/package.json
  packages/fake-driver/package.json
  packages/fake-plugin/package.json
  packages/images-plugin/package.json
  packages/logger/package.json
  packages/opencv/package.json
  packages/plugin-test-support/package.json
  packages/relaxed-caps-plugin/package.json
  packages/schema/package.json
  packages/storage-plugin/package.json
  packages/strongbox/package.json
  packages/support/package.json
  packages/test-support/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/universal-xml-plugin/package.json
Labels: Documentation, SemVer:Breaking, chore, Dependencies, appium core, @appium/execute-driver-plugin, @appium/support, @appium/universal-xml-plugin, @appium/docutils, @appium/fake-driver, @appium/base-driver, @appium/images-plugin, @appium/driver-test-support, @appium/test-support, @appium/types, @appium/logger, @appium/base-plugin, @appium/opencv, @appium/plugin-test-support, @appium/tsconfig, @appium/strongbox, @appium/fake-plugin, @appium/schema, @appium/relaxed-caps-plugin, @appium/eslint-config-appium-ts, @appium/storage-plugin
