Repository appium/appium, pull requests merged in 2025-05, with the labels that each got.

#21232 docs(appium): Describe how to log sensitive data
  packages/appium/docs/en/developing/sensitive.md
  packages/appium/docs/mkdocs-en.yml
Labels: Documentation, appium core

#21233 feat(appium): implement GET /appium/sessions and deprecate GET /sessions
  packages/appium/docs/en/cli/args.md
  packages/appium/docs/en/guides/security.md
  packages/appium/lib/appium.js
  packages/appium/lib/constants.js
  packages/appium/lib/insecure-features.ts
  packages/appium/lib/main.js
  packages/appium/lib/utils.js
  packages/appium/test/unit/appiumdriver.spec.js
  packages/base-driver/lib/basedriver/core.ts
  packages/base-driver/lib/basedriver/driver.ts
  packages/base-driver/test/unit/basedriver/capability.spec.js
  packages/driver-test-support/lib/unit-suite.js
  packages/types/lib/driver.ts
Labels: Enhancement, Documentation, chore, appium core, @appium/base-driver, @appium/driver-test-support, @appium/types

#21240 chore(base-driver): Tune the deprecation warning message
  packages/base-driver/lib/protocol/protocol.js
Labels: chore, @appium/base-driver

#21279 chore(deps): remove @types/diff
  package-lock.json
  package.json
Labels: chore, Dependencies

#21280 docs: update sponsors
  packages/appium/docs/en/sponsors.md
  packages/appium/docs/overrides/assets/images/sponsor-logo-route4me.png
Labels: Documentation, chore, appium core

#21287 refactor(appium,base-driver,support): replace regex checks with string methods for better readability
  packages/appium/lib/cli/extension-command.js
  packages/appium/lib/schema/cli-args.js
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/lib/express/server.js
  packages/base-driver/lib/jsonwp-proxy/protocol-converter.js
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/support/lib/zip.js
Labels: appium core, @appium/support, @appium/base-driver

#21289 refactor(base-driver): use optional chaining & fix typo
  packages/base-driver/lib/basedriver/commands/timeout.ts
  packages/base-driver/lib/basedriver/extension-core.ts
  packages/base-driver/lib/basedriver/helpers.js
Labels: @appium/base-driver

#21290 docs: fix typo
  CONDUCT.md
  docs/payout.md
  scripts/crowdin-update-docs-resources.mjs
Labels: Documentation

#21291 refactor(base-driver,logger,opencv,strongbox): remove unnecessary undefined & fix typo
  packages/base-driver/lib/basedriver/capabilities.ts
  packages/logger/lib/types.ts
  packages/opencv/lib/index.js
  packages/strongbox/lib/base-item.ts
  packages/strongbox/lib/index.ts
Labels: @appium/base-driver, @appium/logger, @appium/opencv, @appium/strongbox

#21302 chore(base-driver): Mark geolocation-related methods as deprecated
  packages/base-driver/lib/protocol/routes.js
Labels: chore, @appium/base-driver

#21307 docs: update sponsors
  packages/appium/docs/en/sponsors.md
Labels: Documentation, appium core
