Repository appium/appium, pull requests merged in 2025-01, with the labels that each got.

#20879 fix(appium): Do not update BiDi commands for drivers which don't support it
  packages/appium/lib/appium.js
Labels: Bug, appium core

#20887 fix(eslint-config-appium-ts): add Prettier config, update typescript-eslint imports
  eslint.config.mjs
  package-lock.json
  package.json
  packages/eslint-config-appium-ts/index.mjs
  packages/eslint-config-appium-ts/package.json
Labels: Bug, Dependencies, @appium/eslint-config-appium-ts

#20876 feat: allow plugins to define custom bidi commands and emit bidi events
  packages/appium/docs/en/developing/build-drivers.md
  packages/appium/docs/en/developing/build-plugins.md
  packages/appium/lib/appium.js
  packages/appium/lib/bidi.ts
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/appium/test/e2e/plugin.e2e.spec.js
  packages/base-driver/lib/basedriver/core.ts
  packages/base-driver/lib/basedriver/extension-core.ts
  packages/base-driver/lib/basedriver/helpers.js
  packages/base-driver/lib/index.js
  packages/base-plugin/lib/plugin.js
  packages/fake-driver/lib/driver.js
  packages/fake-plugin/lib/plugin.js
  packages/fake-plugin/test/unit/plugin.spec.js
  packages/types/lib/driver.ts
  packages/types/lib/plugin.ts
Labels: Bug, Enhancement, Documentation, chore, appium core, @appium/fake-driver, @appium/base-driver, @appium/types, @appium/base-plugin, @appium/fake-plugin

#20909 fix: Avoid "Unhandled rejection" error on mjpeg connection failure
  packages/support/lib/mjpeg.js
  packages/support/test/e2e/mjpeg.e2e.spec.js
Labels: Bug, chore, @appium/support

#20917 feat(types): Add an optional `info` field to base method type definitions
  packages/types/lib/command.ts
Labels: Enhancement, @appium/types

#20925 feat: Add BiDi commands to the listCommands API output
  packages/appium/lib/appium.js
  packages/appium/lib/utils.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/lib/index.js
  packages/base-driver/lib/protocol/bidi-commands.js
  packages/types/lib/command.ts
Labels: Enhancement, chore, appium core, @appium/base-driver, @appium/types

#20927 docs(appium): add Unofficial SwiftAppium Client
  packages/appium/docs/en/ecosystem/clients.md
Labels: Documentation, appium core

#20931 feat: Add /appium/extensions API to list available extensions
  packages/appium/lib/appium.js
  packages/appium/lib/inspector-commands.ts
  packages/appium/lib/utils.js
  packages/appium/test/e2e/driver.e2e.spec.js
  packages/base-driver/lib/basedriver/commands/inspector.ts
  packages/base-driver/lib/protocol/index.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/protocol/routes.spec.js
  packages/types/lib/command.ts
  packages/types/lib/driver.ts
Labels: Enhancement, chore, appium core, @appium/base-driver, @appium/types

#20939 chore(base-driver): Cleanup unnecessary command definitions
  packages/appium/lib/appium.js
  packages/appium/lib/bidi-commands.ts
  packages/base-driver/lib/basedriver/commands/inspector.ts
  packages/types/lib/driver.ts
Labels: chore, appium core, @appium/base-driver, @appium/types

#20936 feat: add /appium/sessions, /session/:sessionId/appium/capabilities and deprecated marks will be removed in the future
  packages/appium/lib/appium.js
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/lib/protocol/index.js
  packages/base-driver/lib/protocol/protocol.js
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/test/unit/protocol/routes.spec.js
Labels: Enhancement, chore, appium core, @appium/base-driver
