Repository appium/appium, pull requests merged in 2025-04, with the labels that each got.

#21160 fix(docutils): add & adjust various log messages
  packages/docutils/lib/builder/deploy.ts
  packages/docutils/lib/builder/site.ts
  packages/docutils/lib/constants.ts
  packages/docutils/lib/fs.ts
  packages/docutils/lib/init.ts
  packages/docutils/lib/scaffold.ts
  packages/docutils/lib/validate.ts
Labels: Bug, Documentation, @appium/docutils

#21176 fix(logger): Error stack logging
  packages/logger/lib/log.ts
Labels: Bug, @appium/logger

#21184 feat(docutils): add MkDocs Material codeblock & text format features
  packages/docutils/base-mkdocs.yml
Labels: Enhancement, Documentation, chore, @appium/docutils

#21185 fix(ci): run on all Node LTS versions instead of only active
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: Bug, chore

#21201 chore(base-driver): Mark IME commands and receive_async_response as deprecated
  packages/base-driver/lib/protocol/routes.js
  packages/base-driver/lib/protocol/validators.js
Labels: chore, @appium/base-driver

#21202 docs(appium): add NovaWindows driver to Appium other drivers list
  packages/appium/docs/en/ecosystem/drivers.md
  packages/appium/docs/zh/ecosystem/drivers.md
Labels: Documentation, appium core

#21209 chore(base-driver): Mark /session/:sessionId/network_connection deprecated
  packages/base-driver/lib/protocol/routes.js
Labels: chore, @appium/base-driver

#21215 docs: update Appium 2 migration guide
  packages/appium/docs/en/guides/migrating-1-to-2.md
Labels: Documentation, appium core

#21221 docs: remove SeleniumConf banner
  packages/appium/docs/en/index.md
Labels: Documentation, appium core

#21222 docs(appium): address default timeout in newCommandTimeout
  packages/appium/docs/en/guides/caps.md
Labels: Documentation, appium core
