Repository appium/appium, pull requests merged in 2025-03, with the labels that each got.

#21055 feat(images-plugin): supports image elements included in actions.
  packages/appium/docs/en/commands/images-plugin.md
  packages/images-plugin/lib/plugin.js
  packages/images-plugin/test/e2e/plugin.e2e.spec.js
  packages/images-plugin/test/unit/plugin.spec.js
Labels: Enhancement, Documentation, chore, appium core, @appium/images-plugin

#21078 test(images-plugin): Update tests of images plugin
  packages/images-plugin/package.json
  packages/images-plugin/test/e2e/plugin.e2e.spec.cjs
  packages/images-plugin/test/fixtures/index.cjs
  packages/images-plugin/test/unit/finder.spec.js
  packages/images-plugin/test/unit/plugin.spec.js
Labels: chore, Dependencies, @appium/images-plugin

#21079 test(images-plugin): Fix e2e test host
  packages/images-plugin/test/e2e/plugin.e2e.spec.cjs
Labels: chore, @appium/images-plugin

#21076 chore(fake-driver): accept 3.0.0-beta.0 as well
  packages/fake-driver/package.json
Labels: chore, Dependencies, @appium/fake-driver

#21075 feat: Add storage plugin
  .github/labeler.yml
  package-lock.json
  packages/storage-plugin/CHANGELOG.md
  packages/storage-plugin/README.md
  packages/storage-plugin/lib/index.ts
  packages/storage-plugin/lib/plugin.ts
  packages/storage-plugin/lib/storage.ts
  packages/storage-plugin/lib/types.ts
  packages/storage-plugin/lib/utils.ts
  packages/storage-plugin/package.json
  packages/storage-plugin/test/e2e/storage.e2e.spec.cjs
  packages/storage-plugin/test/unit/storage.spec.cjs
  packages/storage-plugin/tsconfig.json
  tsconfig.json
Labels: Enhancement, Documentation, chore, Dependencies

#21083 docs(base-driver): remove outdated READMEs
  packages/base-driver/README.md
  packages/base-driver/lib/basedriver/README.md
  packages/base-driver/lib/express/README.md
  packages/base-driver/lib/jsonwp-proxy/README.md
  packages/base-driver/lib/jsonwp-status/README.md
  packages/base-driver/lib/protocol/README.md
Labels: Documentation, @appium/base-driver

#21086 feat(storage-plugin): Tune the files keeping behaviour
  packages/storage-plugin/README.md
  packages/storage-plugin/lib/plugin.ts
  packages/storage-plugin/lib/storage.ts
  packages/storage-plugin/test/unit/storage.spec.cjs
Labels: Enhancement, Documentation, chore, @appium/storage-plugin

#21091 docs(appium): fix a broken character that caused incorrect rendering …
  packages/appium/docs/en/guides/caps.md
Labels: Documentation, appium core

#21092 chore(storage-plugin): Simplify add to storage logic
  packages/storage-plugin/lib/storage.ts
Labels: chore, @appium/storage-plugin

#21099 fix(base-driver): Fix proxy url generation
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
Labels: Bug, chore, @appium/base-driver

#21120 fix(base-driver): Exclude proxied headers from the server response
  packages/base-driver/lib/jsonwp-proxy/proxy.js
  packages/base-driver/test/unit/jsonwp-proxy/proxy.spec.js
Labels: Bug, chore, @appium/base-driver

#21117 docs: update zh contributing documentation
  packages/appium/docs/zh/contributing/config-system.md
Labels: Documentation, appium core

#21123 feat: Add a possibility to mask sensitive log values depending on request headers
  packages/base-driver/lib/express/middleware.js
  packages/logger/index.ts
  packages/logger/lib/log.ts
  packages/logger/lib/secure-values-preprocessor.ts
  packages/logger/test/unit/basic-specs.js
  packages/support/lib/logging.js
Labels: Enhancement, chore, @appium/support, @appium/base-driver, @appium/logger

#21153 chore(storage-plugin): Use base driver import for W3C error response creation
  packages/base-driver/lib/protocol/index.js
  packages/storage-plugin/lib/plugin.ts
  packages/storage-plugin/lib/utils.ts
  packages/storage-plugin/package.json
Labels: chore, Dependencies, @appium/base-driver, @appium/storage-plugin

#21154 feat(base-driver): Accept `x-request-id` as override to generated requestId in `handleLogContext`
  packages/appium/docs/en/guides/headers.md
  packages/appium/docs/mkdocs-en.yml
  packages/base-driver/lib/express/middleware.js
  packages/base-driver/test/unit/express/middleware.spec.js
Labels: Enhancement, Documentation, chore, appium core, @appium/base-driver
